Workflows/AssignRole-CC597E78-44EF-EA11-A815-000D3A1ABE26.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_AdminConnection"},"api":{"name":"shared_powerplatformforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"envUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"userId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"envName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"username","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"password","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"tenantId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5"]}},"runtimeConfiguration":{"secureData":{"properties":["inputs","outputs"]}}}},"actions":{"Initialize_roleId":{"runAfter":{"Initialize_error_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"roleId","type":"string"}]}},"Initialize_Separator":{"runAfter":{"Initialize_roleId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Separator","type":"string","value":"@@"}]}},"Try":{"actions":{"Get_Client_Id":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_clientId"}}},"Get_Token":{"runAfter":{"Get_Client_Id":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/common/oauth2/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{outputs('Get_Client_Id')?['Body']?['envvalue']}&resource=@{triggerBody()['text']}&grant_type=password&username=@{triggerBody()['text_3']}&password=@{triggerBody()['text_4']}"},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"Get_a_record":{"runAfter":{"Get_Token":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerBody()['text_1']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_records":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"roles","$select":"roleid","$filter":"name eq 'System Customizer'","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"GetUserId":{"runAfter":{"Force_Sync_user":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{triggerBody()['text']}api/data/v9.1/systemusers?$filter=azureactivedirectoryobjectid eq '@{outputs('Get_a_record')?['body/azureactivedirectoryobjectid']}'","headers":{"authorization":"Bearer @{body('Get_Token')?['access_token']}","Content-Type":"application/json","Accept":"application/json","OData-MaxVersion":"4.0","OData-Version":"4.0"}}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"@{triggerBody()['text']}api/data/v9.1/systemusers(@{first(body('GetUserId')?['value'])?['systemuserid']})/systemuserroles_association/$ref","headers":{"authorization":"Bearer @{body('Get_Token')?['access_token']}","Content-Type":"application/json","Accept":"application/json","OData-MaxVersion":"4.0","OData-Version":"4.0"},"body":{"@{variables('Separator')}odata.id":" @{triggerBody()['text']}api/data/v9.1/roles(@{first(body('GetRoleId')?['value'])?['roleid']})"}}}},"runAfter":{"Compose":["Succeeded"]},"type":"Foreach"},"Force_Sync_user":{"runAfter":{"List_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"Add-AdminPowerAppsSyncUser","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@triggerBody()['text_2']","body/ObjectId":"@outputs('Get_a_record')?['body/azureactivedirectoryobjectid']","api-version":"@variables('adminConnectorVersion')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Compose":{"runAfter":{"GetRoleId":["Succeeded"]},"type":"Compose","inputs":"@first(body('GetUserId')?['value'])?['systemuserid']"},"GetRoleId":{"runAfter":{"GetUserId":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{triggerBody()['text']}api/data/v9.1/roles?$filter=name eq 'System Customizer'","headers":{"authorization":"Bearer @{body('Get_Token')?['access_token']}","Content-Type":"application/json","Accept":"application/json","OData-MaxVersion":"4.0","OData-Version":"4.0"}}}},"runAfter":{"Initialize_adminConnectorVersion":["Succeeded"]},"type":"Scope"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Try":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"issuccess":"true"},"schema":{"type":"object","properties":{"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"}}}}},"Catch":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each_2":{"foreach":"@body('Filter_array')","actions":{"Compose_Variables":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each_2')?['name'],'##code==',items('Apply_to_each_2')?['code'],'##errorName==',if(equals(null, items('Apply_to_each_2')?['outputs']?['body']), items('Apply_to_each_2')?['error'], items('Apply_to_each_2')?['outputs']?['body']))"},"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error_Message":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@{body('Fetch_Localized_Error_Message')?['Body']?['localizedtext']}\n"}},"Fetch_Localized_Error_Message":{"runAfter":{"Compose_Variables":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose_Variables')"}}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Try":["Failed","Skipped","TimedOut"]},"type":"Scope"},"Initialize_error_details":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Response":{"runAfter":{"Catch":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":501,"body":"@variables('ErrorDetails')"}},"Initialize_adminConnectorVersion":{"runAfter":{"Initialize_Separator":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminConnectorVersion","type":"string","value":"2020-10-01"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}