Workflows/BuildRequestCancellation-05878F85-5A13-EB11-A813-000D3AA3E77C.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_AdminConnection"},"api":{"name":"shared_powerplatformforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_BuildRequest_in_Cancelled":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cat_project","subscriptionRequest/scope":2},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_Status_of_Build_Request":{"actions":{},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/cat_deploymentstatus']",809060013]},"type":"If"},"List_records":{"runAfter":{"Check_Status_of_Build_Request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","$filter":"_cat_project_value eq '@{triggerOutputs()?['body/cat_projectid']}'","$orderby":"createdon desc","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Update_Build_Request_to_Cancelled":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@items('Apply_to_each')?['cat_buildrequestid']","item/cat_buildstatus":809060006},"authentication":"@parameters('$authentication')"}},"If_Build_Environment_Exists":{"actions":{"Delete_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"Remove-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@items('Apply_to_each')?['cat_buildenvironment']","api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_Build_Request_to_Cancelled":["Succeeded"]},"expression":{"greater":["@length(items('Apply_to_each')?['cat_buildenvironment'])",0]},"type":"If"}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}