Workflows/CreateProject-0405E906-DAE1-EA11-A813-000D3A56B702.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_ApprovalConnection"},"api":{"name":"shared_approvals"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cat_project","subscriptionRequest/scope":2},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable":{"runAfter":{"Initialize_error_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"separator","type":"string","value":"@@"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"repoName","type":"string","value":"@{replace(triggerOutputs()?['body/cat_name'], ' ', '')}"}]}},"Try":{"actions":{"Get_User_Details":{"runAfter":{"Read_Admin_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Fetch_Localized_Message_for_Approval":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"@outputs('Fetch_Localized_Title')?['Body']?['localizedtext']","WebhookApprovalCreationInput/assignedTo":"@{outputs('Read_Admin_Email')?['Body']?['envvalue']};@{outputs('Get_Project_Stage_Record_2')?['body/cat_stageowner']}","WebhookApprovalCreationInput/details":"@outputs('Fetch_Localized_Details')?['Body']?['localizedtext']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"type":"SetVariable","inputs":{"name":"branchName","value":"@{concat(first(split(outputs('Get_User_Details')?['body/domainname'], variables('separator'))), concat('_', string(guid())))}"}},"Condition_3":{"actions":{},"runAfter":{"Set_variable":["Succeeded"]},"else":{"actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/cat_projectid']","item/cat_projectstatus":809060000},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Apply_to_each_3":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Fetch_Localized_Rejection_Notification":{"actions":{"Compose_4":{"runAfter":{},"type":"Compose","inputs":"@concat('projectName==',triggerOutputs()?['body/cat_name'])"},"Fetch_Localized_Subject":{"runAfter":{"Compose_4":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow3","text_2":"@outputs('Compose_4')"}}},"Compose_5":{"runAfter":{"Fetch_Localized_Subject":["Succeeded"]},"type":"Compose","inputs":"@concat('firstName==',outputs('Get_User_Details')?['body/firstname'],'##projectName==',triggerOutputs()?['body/cat_name'],'##rejectedBy==',items('Apply_to_each_3')?['responder/displayName'],'##rejectionReason==',items('Apply_to_each_3')?['comments'])"},"Fetch_Localized_Body":{"runAfter":{"Compose_5":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow4","text_2":"@outputs('Compose_5')"}}}},"runAfter":{},"type":"Scope"},"Send_Rejection_Notification":{"runAfter":{"Fetch_Localized_Rejection_Notification":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@outputs('Get_User_Details')?['body/domainname']","text_1":"@outputs('Fetch_Localized_Subject')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body')?['Body']?['localizedtext']"}}}},"runAfter":{"Update_a_record_2":["Succeeded"]},"type":"Foreach"}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]},"type":"If"},"Get_Project_Stage_Record_2":{"runAfter":{"Get_User_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_deploymentstages","recordId":"@triggerOutputs()?['body/_cat_stage_value']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["outputs"]}}},"RunCreateEnvironmentFlow":{"runAfter":{"Condition_3":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"46735d3d-d2e1-ea11-a813-000d3a1abe26"},"body":{"text":"@{first(split(outputs('Get_User_Details')?['body/domainname'], variables('separator')))}_@{triggerOutputs()?['body/cat_name']}","text_1":"@triggerOutputs()?['body/_ownerid_value']","text_3":"@outputs('Get_Project_Stage_Record_2')?['body/cat_username']","text_2":"No"},"retryPolicy":{"type":"none"}}},"Create_a_Dev_Environment_Record":{"runAfter":{"RunCreateEnvironmentFlow":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_devenvironments","item/cat_name":"@outputs('RunCreateEnvironmentFlow')?['Body']?['name']","item/cat_displayname":"@outputs('RunCreateEnvironmentFlow')?['Body']?['displayname']","item/cat_expirationdate":"@addDays(utcNow(), 30)","item/cat_url":"@outputs('RunCreateEnvironmentFlow')?['Body']?['url']"},"authentication":"@parameters('$authentication')"}},"Create_Repo":{"runAfter":{"Assign_Role":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"ad40cdeb-dce1-ea11-a813-000d3a56b702"},"body":{"text":"@outputs('RunCreateEnvironmentFlow')?['Body']?['url']","text_1":"@variables('repoName')","text_2":"@triggerOutputs()?['body/cat_orgname']"},"retryPolicy":{"type":"none"}}},"Create_Blank_Solution":{"runAfter":{"Create_Repo":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"c5ecb6ea-e4e1-ea11-a813-000d3a1abe26"},"body":{"text":"@outputs('RunCreateEnvironmentFlow')?['Body']?['url']","text_1":"@triggerOutputs()?['body/cat_name']","text_2":"@outputs('RunCreateEnvironmentFlow')?['Body']?['tenantid']","text_3":"@outputs('Get_Project_Stage_Record_2')?['body/cat_username']","text_4":"@outputs('Get_Project_Stage_Record_2')?['body/cat_password']"},"retryPolicy":{"type":"none"}},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"Update_Project_Repo_with_Repo_,_Env,_and_Org":{"runAfter":{"Create_Blank_Solution":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/cat_projectid']","item/cat_branchname":"@variables('branchName')","item/cat_Environment@odata.bind":"@first(split(last(split(body('Create_a_Dev_Environment_Record')?['@odata.editLink'], '')), ','))","item/cat_orgname":"@triggerOutputs()?['body/cat_orgname']","item/cat_projectstatus":809060001,"item/cat_repoid":"@outputs('Create_Repo')?['Body']?['repoid']","item/cat_solutionuniquename":"@outputs('Create_Blank_Solution')?['Body']?['solutionname']","item/cat_solutionid":"@outputs('Create_Blank_Solution')?['Body']?['solutionid']"},"authentication":"@parameters('$authentication')"}},"Update_Project_With_Environment_Creation":{"runAfter":{"RunCreateEnvironmentFlow":["Failed","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/cat_projectid']","item/cat_deploymentstatus":809060001,"item/cat_projectstatus":809060003},"authentication":"@parameters('$authentication')"}},"Update_Project_with_Error_6":{"runAfter":{"Create_Repo":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/cat_projectid']","item/cat_deploymentstatus":809060002,"item/cat_projectstatus":809060003},"authentication":"@parameters('$authentication')"}},"Update_Project_with_Solution_Creation_Error":{"runAfter":{"Create_Blank_Solution":["Failed","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/cat_projectid']","item/cat_deploymentstatus":809060004,"item/cat_projectstatus":809060003},"authentication":"@parameters('$authentication')"}},"Set_variable_2":{"runAfter":{"Update_Project_With_Environment_Creation":["Succeeded"]},"type":"SetVariable","inputs":{"name":"projectUpdated","value":"true"}},"Set_variable_3":{"runAfter":{"Update_Project_with_Error_6":["Succeeded"]},"type":"SetVariable","inputs":{"name":"projectUpdated","value":"true"}},"Set_variable_6":{"runAfter":{"Create_Repo":["Succeeded"]},"type":"SetVariable","inputs":{"name":"projectUpdated","value":"true"}},"Set_variable_7":{"runAfter":{"Update_Project_with_Solution_Creation_Error":["Succeeded"]},"type":"SetVariable","inputs":{"name":"projectUpdated","value":"true"}},"Read_Admin_Email":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"admin_AdminMail"}}},"Update_Project_With_Admin_Email_Error":{"runAfter":{"Read_Admin_Email":["Failed","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/cat_projectid']","item/cat_deploymentstatus":809060006,"item/cat_errormessage":"Failed to Read Admin Email Environment","item/cat_projectstatus":809060003},"authentication":"@parameters('$authentication')"}},"Set_variable_9":{"runAfter":{"Update_Project_With_Admin_Email_Error":["Succeeded"]},"type":"SetVariable","inputs":{"name":"projectUpdated","value":"true"}},"Send_Project_Created_Notification":{"runAfter":{"Fetch_Localized_Project_Created_Notification":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@outputs('Get_User_Details')?['body/domainname']","text_1":"@outputs('Fetch_Localized_Subject_2')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_2')?['Body']?['localizedtext']","text_5":"@variables('CorrelationID')"}}},"Run_Flow_-_Setup_Dev_Environment":{"runAfter":{"Create_Repo":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"2e65873a-a8ed-ea11-a817-000d3a1abe26"},"body":{"text":"@triggerOutputs()?['body/cat_orgname']","text_1":"@outputs('Create_Repo')?['Body']?['reponame']","text_2":"@outputs('Get_Project_Stage_Record_2')?['body/cat_stageowner']","text_3":"@triggerOutputs()?['body/cat_projectid']","text_4":"@string(guid())","text_5":"@outputs('Create_a_Dev_Environment_Record')?['body/cat_url']"}}},"Compose":{"runAfter":{"Run_Flow_-_Setup_Dev_Environment":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Compose","inputs":"@variables('DevEnvPreReqSetup')"},"Assign_Role":{"runAfter":{"Create_a_Dev_Environment_Record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"cc597e78-44ef-ea11-a815-000d3a1abe26"},"body":{"text":"@outputs('RunCreateEnvironmentFlow')?['Body']?['url']","text_1":"@triggerOutputs()?['body/_ownerid_value']","text_2":"@outputs('RunCreateEnvironmentFlow')?['Body']?['name']","text_3":"@outputs('Get_Project_Stage_Record_2')?['body/cat_username']","text_4":"@outputs('Get_Project_Stage_Record_2')?['body/cat_password']","text_5":"@outputs('RunCreateEnvironmentFlow')?['Body']?['tenantid']"},"retryPolicy":{"type":"none"}},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"Fetch_Localized_Message_for_Approval":{"actions":{"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@concat('projectName==',triggerOutputs()?['body/cat_name'])"},"Fetch_Localized_Title":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow1","text_2":"@outputs('Compose_2')"}}},"Compose_3":{"runAfter":{"Fetch_Localized_Title":["Succeeded"]},"type":"Compose","inputs":"@concat('firstName==',outputs('Get_User_Details')?['body/firstname'],'##lastName==',outputs('Get_User_Details')?['body/lastname'],'##projectName==',triggerOutputs()?['body/cat_name'],'##projectDescription==',triggerOutputs()?['body/cat_description'])"},"Fetch_Localized_Details":{"runAfter":{"Compose_3":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow2","text_2":"@outputs('Compose_3')"}}}},"runAfter":{"Get_Project_Stage_Record_2":["Succeeded"]},"type":"Scope"},"Fetch_Localized_Project_Created_Notification":{"actions":{"Compose_6":{"runAfter":{},"type":"Compose","inputs":"@concat('projectName==',triggerOutputs()?['body/cat_name'])"},"Fetch_Localized_Subject_2":{"runAfter":{"Compose_6":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow5","text_2":"@outputs('Compose_6')"}}},"Compose_7":{"runAfter":{"Fetch_Localized_Subject_2":["Succeeded"]},"type":"Compose","inputs":"@concat('firstName==',outputs('Get_User_Details')?['body/firstname'],'##projectName==',triggerOutputs()?['body/cat_name'],'##environmentName==',outputs('Create_a_Dev_Environment_Record')?['body/cat_name'],'##solutionId==',outputs('Create_Blank_Solution')?['Body']?['solutionid'])"},"Fetch_Localized_Body_2":{"runAfter":{"Compose_7":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow6","text_2":"@outputs('Compose_7')"}}}},"runAfter":{"Update_Project_Repo_with_Repo_,_Env,_and_Org":["Succeeded"]},"type":"Scope"},"Send_Project_Created_Notification:_Admin":{"runAfter":{"Fetch_Localized_Project_Creation_Notification:_Admin":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@{outputs('Read_Admin_Email')?['Body']?['envvalue']};@{outputs('Get_Project_Stage_Record_2')?['body/cat_stageowner']}","text_1":"@outputs('Fetch_Localized_Subject_2')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_3')?['Body']?['localizedtext']","text_5":"@variables('CorrelationID')"}}},"Fetch_Localized_Project_Creation_Notification:_Admin":{"actions":{"Compose_12":{"runAfter":{},"type":"Compose","inputs":"@concat('projectName==',outputs('Update_Project_Repo_with_Repo_,_Env,_and_Org')?['body/cat_name'],'##orgName==',outputs('Update_Project_Repo_with_Repo_,_Env,_and_Org')?['body/cat_orgname'],'##repoName==',outputs('Create_Repo')?['Body']?['reponame'])"},"Fetch_Localized_Body_3":{"runAfter":{"Compose_12":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow10","text_2":"@outputs('Compose_12')"}}}},"runAfter":{"Send_Project_Created_Notification":["Succeeded"]},"type":"Scope"}},"runAfter":{"DevEnvPreReqSetup":["Succeeded"]},"type":"Scope"},"Initialize_error_details":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Initialize_variable_3":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"branchName","type":"string"}]}},"Initialize_CorrelationID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CorrelationID","type":"string","value":"@{if(equals(workflow()?['run']?['name'],null),guid(),workflow()?['run']?['name'])}"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_CorrelationID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"projectUpdated","type":"string","value":"false"}]}},"Finally":{"actions":{},"runAfter":{"Catch":["Skipped","Failed","Succeeded","TimedOut"]},"type":"Scope"},"Catch":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'),equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Log_Telemetry":{"runAfter":{"Append_to_string_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"05dc414d-78eb-ea11-a817-000d3a56b702"},"body":{"text_1":"Error","text":"@variables('CorrelationID')","text_4":"@string(if(equals(null,items('Apply_to_each')?['outputs']?['body']),items('Apply_to_each')?['error'],items('Apply_to_each')?['outputs']?['body']))","text_2":"@triggerOutputs()?['body/cat_projectid']","text_3":"Project Creation","text_6":"@workflow()?['tags']?['flowDisplayName']","text_8":"@items('Apply_to_each')?['name']","text_12":"@workflow()?['run']?['name']"}}},"Fetch_Localized_Error_":{"actions":{"Compose_8":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each')?['name'],'##code==',items('Apply_to_each')?['code'],'##errorName==',if(equals(null,items('Apply_to_each')?['outputs']?['body']),items('Apply_to_each')?['error'],items('Apply_to_each')?['outputs']?['body']))"},"Fetch_Localized_Error_Message":{"runAfter":{"Compose_8":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose_8')"}}}},"runAfter":{},"type":"Scope"},"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error_":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@{outputs('Fetch_Localized_Error_Message')?['Body']?['localizedtext']}\n"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Condition":{"actions":{"Update_Project_with_Error":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/cat_projectid']","item/cat_errormessage":"@concat('RunID: ', workflow()?['run']?['name'], '\r\nFlow: ' ,workflow()['tags']?['flowDisplayName'], '\r\nError: ', variables('ErrorDetails'))","item/cat_projectstatus":809060003},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"else":{"actions":{"Update_Project_with_Error_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/cat_projectid']","item/cat_deploymentstatus":809060007,"item/cat_errormessage":"@concat('RunID: ', workflow()?['run']?['name'], '\r\nFlow: ' ,workflow()['tags']?['flowDisplayName'], '\r\nError: ', variables('ErrorDetails'))","item/cat_projectstatus":809060003},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('projectUpdated')","true"]},"type":"If"},"Send_Project_Failed_Notification:_Admin":{"runAfter":{"Fetch_Localized_Project_Failed_Notification":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@{outputs('Read_Admin_Email')?['Body']?['envvalue']};@{outputs('Get_Project_Stage_Record_2')?['body/cat_stageowner']}","text_1":"@outputs('Fetch_Localized_Subject_3')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Admin_Notification')?['Body']?['localizedtext']","text_5":"@variables('CorrelationID')"}}},"Send_Project_Failed_Notification:_Owner":{"runAfter":{"Send_Project_Failed_Notification:_Admin":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@outputs('Get_User_Details')?['body/domainname']","text_1":"@outputs('Fetch_Localized_Subject_3')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Owner_Notification')?['Body']?['localizedtext']","text_5":"@variables('CorrelationID')"}}},"Fetch_Localized_Project_Failed_Notification":{"actions":{"Compose_9":{"runAfter":{},"type":"Compose","inputs":"@concat('projectName==',triggerOutputs()?['body/cat_name'])"},"Fetch_Localized_Subject_3":{"runAfter":{"Compose_9":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow7","text_2":"@outputs('Compose_9')"}}},"Compose_10":{"runAfter":{"Fetch_Localized_Subject_3":["Succeeded"]},"type":"Compose","inputs":"@concat('projectName==',triggerOutputs()?['body/cat_name'],'##flowName==',workflow()['tags']?['flowDisplayName'],'##flowRunId==',workflow()['run']?['name'],'##errorDetails==',variables('ErrorDetails'))"},"Fetch_Localized_Admin_Notification":{"runAfter":{"Compose_10":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow8","text_2":"@outputs('Compose_10')"}}},"Compose_11":{"runAfter":{"Fetch_Localized_Admin_Notification":["Succeeded"]},"type":"Compose","inputs":"@concat('firstName==',outputs('Get_User_Details')?['body/firstname'],'##lastName==',outputs('Get_User_Details')?['body/lastname'],'##projectName==',triggerOutputs()?['body/cat_name'])"},"Fetch_Localized_Owner_Notification":{"runAfter":{"Compose_11":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createProjectFlow9","text_2":"@outputs('Compose_11')"}}}},"runAfter":{"Condition":["Succeeded"]},"type":"Scope"}},"runAfter":{"Try":["Failed","TimedOut"]},"type":"Scope"},"DevEnvPreReqSetup":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DevEnvPreReqSetup","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}