Workflows/CreateSolution-C5ECB6EA-E4E1-EA11-A813-000D3A1ABE26.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"envUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"solutionName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"tenantId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"userName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"password","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4"]}},"runtimeConfiguration":{"secureData":{"properties":["inputs","outputs"]}}}},"actions":{"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Scope":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"solutionid":"@variables('solution')","solutionname":"@variables('solutionName')"},"schema":{"type":"object","properties":{"solutionid":{"title":"solutionId","x-ms-dynamically-added":true,"type":"string"},"solutionname":{"title":"solutionName","x-ms-dynamically-added":true,"type":"string"}}}}},"Set_Secret_Variable":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UniqueName","type":"string","value":"@{replace(triggerBody()['text_1'], ' ', '')}"}]}},"Read_Client_Id_from_Environment_Variable":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_clientId"}}},"Scope":{"actions":{"Create_Solution":{"runAfter":{"Get_Token":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"@{triggerBody()['text']}api/data/v9.0/solutions","headers":{"authorization":"Bearer  @{body('Get_Token')?['access_token']}"},"body":{"uniquename":"@{variables('UniqueName')}","friendlyname":"@{triggerBody()['text_1']}","version":"1.0.0.0","publisherid@odata.bind":"/publishers(00000001-0000-0000-0000-00000000005a)"}}},"Get_Solution_":{"runAfter":{"Create_Solution":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{triggerBody()['text']}api/data/v9.0/solutions?$filter=uniquename eq '@{variables('UniqueName')}'","headers":{"authorization":"Bearer @{body('Get_Token')?['access_token']}"}}},"Parse_JSON":{"runAfter":{"Get_Solution_":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_Solution_')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"@@odata.etag":{"type":"string"},"isapimanaged":{"type":"boolean"},"_organizationid_value":{"type":"string"},"versionnumber":{"type":"integer"},"solutionid":{"type":"string"},"uniquename":{"type":"string"},"friendlyname":{"type":"string"},"_createdby_value":{"type":"string"},"_publisherid_value":{"type":"string"},"modifiedon":{"type":"string"},"ismanaged":{"type":"boolean"},"_modifiedby_value":{"type":"string"},"isvisible":{"type":"boolean"},"version":{"type":"string"},"createdon":{"type":"string"},"installedon":{"type":"string"},"pinpointassetid":{},"solutionpackageversion":{},"_configurationpageid_value":{},"_parentsolutionid_value":{},"pinpointsolutionid":{},"_modifiedonbehalfby_value":{},"_createdonbehalfby_value":{},"pinpointpublisherid":{},"pinpointsolutiondefaultlocale":{},"description":{},"updatedon":{},"solutiontype":{}},"required":["@@odata.etag","isapimanaged","_organizationid_value","versionnumber","solutionid","uniquename","friendlyname","_createdby_value","_publisherid_value","modifiedon","ismanaged","_modifiedby_value","isvisible","version","createdon","installedon","pinpointassetid","solutionpackageversion","_configurationpageid_value","_parentsolutionid_value","pinpointsolutionid","_modifiedonbehalfby_value","_createdonbehalfby_value","pinpointpublisherid","pinpointsolutiondefaultlocale","description","updatedon","solutiontype"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['value']","actions":{"Condition":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"solution","value":"@items('Apply_to_each')?['solutionid']"}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"solutionName","value":"@items('Apply_to_each')?['uniquename']"}}},"runAfter":{},"expression":{"equals":["@variables('UniqueName')","@items('Apply_to_each')?['uniquename']"]},"type":"If"}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":2,"unit":"Second"}}},"Get_Token":{"runAfter":{"Delay":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/common/oauth2/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{outputs('Read_Client_Id_from_Environment_Variable')?['Body']?['envvalue']}&resource=@{triggerBody()['text']}&grant_type=password&username=@{triggerBody()['text_3']}&password=@{triggerBody()['text_4']}"}}},"runAfter":{"Read_Client_Id_from_Environment_Variable":["Succeeded"]},"type":"Scope"},"Initialize_variable_2":{"runAfter":{"Initialize_error_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"solutionName","type":"string","value":"solutionName"}]}},"Response":{"runAfter":{"Fetch_Localized_Response_Message":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":409,"body":"@body('Fetch_Localized_Response')?['Body']?['localizedtext']"}},"Response_2":{"runAfter":{"Read_Client_Id_from_Environment_Variable":["Failed","Skipped","TimedOut"]},"type":"Response","kind":"Http","inputs":{"statusCode":409,"body":"Error Reading Environment Variable: cat_clientId"}},"Initialize_variable":{"runAfter":{"Set_Secret_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"solution","type":"string","value":"@{variables('UniqueName')}"}]}},"Create_Array":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"Compose","inputs":"@createArray('-', '&', '_', ',', '.', ';', ':', '/', '\"', '\"', '!', '@', '$', '%', '^', '+', '=', '\\', '|', '<', '>', '{', '}')"},"Apply_to_each_2":{"foreach":"@outputs('Create_Array')","actions":{"Set_variable_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Temp","value":"@{replace(variables('UniqueName'), items('Apply_to_each_2'), '')}"}},"Set_variable_4":{"runAfter":{"Set_variable_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"UniqueName","value":"@variables('Temp')"}}},"runAfter":{"Create_Array":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Initialize_variable_3":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Temp","type":"string","value":"@variables('UniqueName')"}]}},"Extract_Errors":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Scope')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each_3":{"foreach":"@body('Filter_array')","actions":{"Fetch_Localized_Error":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each_3')?['name'],'##code==',items('Apply_to_each_3')?['code'],'##errorName==',if(equals(null, items('Apply_to_each_3')?['outputs']?['body']), items('Apply_to_each_3')?['error'], items('Apply_to_each_3')?['outputs']?['body']))"},"Fetch_Localized_Error_Message":{"runAfter":{"Compose":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose')"}}}},"runAfter":{},"type":"Scope"},"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@outputs('Fetch_Localized_Error_Message')?['Body']?['localizedtext']"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Scope":["Failed","TimedOut"]},"type":"Scope"},"Initialize_error_details":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Fetch_Localized_Response_Message":{"actions":{"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@concat('envUrl==',triggerBody()['text'],'##uniqueName==',variables('UniqueName'),'##errorDetails==',variables('ErrorDetails'))"},"Fetch_Localized_Response":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createSolutionFlow1","text_2":"@outputs('Compose_2')"}}}},"runAfter":{"Extract_Errors":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}