Workflows/CreateRepo-AD40CDEB-DCE1-EA11-A813-000D3A56B702.json
{"properties":{"connectionReferences":{"shared_github_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_GitHub"},"api":{"name":"shared_github"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"EnvUrl","type":"string","x-ms-dynamically-added":true,"description":"input","x-ms-content-hint":"TEXT"},"text_1":{"title":"repoName","type":"string","x-ms-dynamically-added":true,"description":"repoName","x-ms-content-hint":"TEXT"},"text_2":{"title":"orgName","type":"string","x-ms-dynamically-added":true,"description":"orgName","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Get_Template_Repo":{"actions":{"Get_Template_Repo_Name":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_TemplateRepoName"}}}},"runAfter":{"Initialize_variable_5":["Succeeded"]},"type":"Scope"},"Respond_with_Success":{"runAfter":{"Fetch_Localized_Response_Message":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"issuccess":"@{true}","message":"@outputs('Fetch_Localized_Response_4')?['Body']?['localizedtext']","repoid":"@{variables('repoId')}","reponame":"@variables('repoNameRetry')"},"schema":{"type":"object","properties":{"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"},"repoid":{"title":"repoId","x-ms-dynamically-added":true,"type":"string"},"reponame":{"title":"repoName","x-ms-dynamically-added":true,"type":"string"}}}}},"Response_with_Repo_Creation_Error":{"runAfter":{"Fetch_Localized_Response_Message_2":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":500,"body":"@outputs('Fetch_Localized_Response_2')?['Body']?['localizedtext']"}},"Initialize_variable_2":{"runAfter":{"Initialize_variable_3":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"temp","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"number","type":"array","value":"@createArray('1')"}]}},"Initialize_variable_3":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"repoNameRetry","type":"string","value":"@triggerBody()['text_1']"}]}},"Initialize_variable_4":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"repoFound","type":"string","value":"false"}]}},"Response_with_Environment_Variable_Reading_Error":{"runAfter":{"Fetch_Localized_Response":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":409,"body":"@body('Fetch_Localized_Response')?['Body']?['localizedtext']"}},"Initialize_variable_5":{"runAfter":{"Initialize_variable_4":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"repoId","type":"integer","value":0}]}},"Create_a_repository":{"runAfter":{"Get_Template_Repo":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github_1","operationId":"CreateRepositoryUsingTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"templateOwner":"@first(split(outputs('Get_Template_Repo_Name')?['Body']?['envvalue'], '/'))","templateRepository":"@last(split(outputs('Get_Template_Repo_Name')?['Body']?['envvalue'], '/'))","body/name":"@variables('repoNameRetry')","body/owner":"@triggerBody()['text_2']","body/private":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Scope":{"actions":{"Set_variable_5":{"runAfter":{},"type":"SetVariable","inputs":{"name":"temp","value":"@{concat(concat(variables('repoNameRetry'), '_'), guid())}"}},"Create_a_repository_2":{"runAfter":{"Set_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github_1","operationId":"CreateRepositoryUsingTemplate","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"templateOwner":"@first(split(outputs('Get_Template_Repo_Name')?['Body']?['envvalue'], '/'))","templateRepository":"@last(split(outputs('Get_Template_Repo_Name')?['Body']?['envvalue'], '/'))","body/name":"@variables('repoNameRetry')","body/owner":"@triggerBody()['text_2']","body/private":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_RepoId_2":{"runAfter":{"Create_a_repository_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"repoId","value":"@outputs('Create_a_repository_2')?['body/id']"}},"Set_variable":{"runAfter":{"Set_variable_5":["Succeeded"]},"type":"SetVariable","inputs":{"name":"repoNameRetry","value":"@variables('temp')"}}},"runAfter":{"Create_a_repository":["Failed"]},"type":"Scope"},"Set_RepoId":{"runAfter":{"Create_a_repository":["Succeeded"]},"type":"SetVariable","inputs":{"name":"repoId","value":"@outputs('Create_a_repository')?['body/id']"}},"Respond_with_Success_2":{"runAfter":{"Fetch_Localized_Response_Message_3":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"issuccess":"@{true}","message":"@outputs('Fetch_Localized_Response_3')?['Body']?['localizedtext']","repoid":"@{outputs('Create_a_repository')?['body/id']}","reponame":"@variables('repoNameRetry')"},"schema":{"type":"object","properties":{"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"},"repoid":{"title":"repoId","x-ms-dynamically-added":true,"type":"string"},"reponame":{"title":"repoName","x-ms-dynamically-added":true,"type":"string"}}}}},"Terminate":{"runAfter":{"Respond_with_Success":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Fetch_Localized_Response":{"runAfter":{"Get_Template_Repo":["Failed","Skipped","TimedOut"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createRepoFlow1"}}},"Fetch_Localized_Response_Message_2":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@concat('repoName==',triggerBody()['text_1'])"},"Fetch_Localized_Response_2":{"runAfter":{"Compose":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createRepoFlow2","text_2":"@outputs('Compose')"}}}},"runAfter":{"Scope":["Failed"]},"type":"Scope"},"Fetch_Localized_Response_Message":{"actions":{"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@concat('repoName==', triggerBody()['text_1'], '##repoId==', variables('repoId'))"},"Fetch_Localized_Response_4":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createRepoFlow3","text_2":"@outputs('Compose_2')"}}}},"runAfter":{"Scope":["Succeeded"]},"type":"Scope"},"Fetch_Localized_Response_Message_3":{"actions":{"Compose_3":{"runAfter":{},"type":"Compose","inputs":"@concat('repoName==', triggerBody()['text_1'], '##repoId==', outputs('Create_a_repository')?['body/id'])"},"Fetch_Localized_Response_3":{"runAfter":{"Compose_3":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createRepoFlow3","text_2":"@outputs('Compose_3')"}}}},"runAfter":{"Set_RepoId":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}