Workflows/CreateEnvironment-46735D3D-D2E1-EA11-A813-000D3A1ABE26.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_AdminConnection"},"api":{"name":"shared_powerplatformforadmins"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"EnvName","type":"string","x-ms-dynamically-added":true,"description":"Env","x-ms-content-hint":"TEXT"},"text_1":{"title":"userId","type":"string","x-ms-dynamically-added":true,"description":"user","x-ms-content-hint":"TEXT"},"text_2":{"title":"isBuildEnvironment","type":"string","x-ms-dynamically-added":true,"description":"No","x-ms-content-hint":"TEXT"},"text_3":{"title":"connectionUser","type":"string","x-ms-dynamically-added":true,"description":"UserId","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_3"]}}}},"actions":{"Initialize_type":{"runAfter":{"Initialize_ErrorDetails":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"type","type":"string","value":"Sandbox"}]}},"Scope":{"actions":{"Create_Environment":{"runAfter":{"GetConnectionUser":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"NewAdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"api-version":"@variables('adminConnectorVersion')","body/location":"unitedstates","body/properties/displayName":"@triggerBody()['text']","body/properties/environmentSku":"@variables('type')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerBody()['text_1']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Force_Sync_user":{"runAfter":{"Do_until":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"Add-AdminPowerAppsSyncUser","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@outputs('Create_Environment')?['body/name']","body/ObjectId":"@first(body('GetConnectionUser')?['value'])?['azureactivedirectoryobjectid']","api-version":"@variables('adminConnectorVersion')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"GetConnectionUser":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$filter":"domainname eq '@{triggerBody()['text_3']}'","$orderby":"createdon desc","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Do_until":{"actions":{"Try":{"actions":{"Create_CDS_Database":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins_1","operationId":"ProvisionInstance","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@outputs('Create_Environment')?['body/name']","body/baseLanguage":1033,"body/currency/code":"USD"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Add_Delay":{"actions":{"Delay":{"runAfter":{},"type":"Wait","inputs":{"interval":{"count":15,"unit":"Second"}}}},"runAfter":{},"type":"Scope"}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"Exit_loop":{"runAfter":{},"type":"SetVariable","inputs":{"name":"loopCondition","value":"\"true\""}}}},"expression":{"or":[{"equals":["@outputs('Compose')",403]},{"equals":["@outputs('Compose')",404]}]},"type":"If"},"Compose":{"runAfter":{"Create_CDS_Database":["Failed","Succeeded"]},"type":"Compose","inputs":"@outputs('Create_CDS_Database')?['statusCode']"}},"runAfter":{},"type":"Scope"}},"runAfter":{"Create_Environment":["Succeeded"]},"expression":"@contains(variables('loopCondition'), '\"true\"')","limit":{"count":3,"timeout":"PT1H"},"type":"Until"}},"runAfter":{"Initialize_adminConnectorVersion":["Succeeded"]},"type":"Scope"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Scope":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"name":"@outputs('Create_Environment')?['body/name']","id":"@outputs('Create_Environment')?['body/id']","url":"@outputs('Create_CDS_Database')?['body/properties/linkedEnvironmentMetadata/instanceUrl']","displayname":"@outputs('Create_Environment')?['body/properties/displayName']","issuccess":"@{true}","message":"Created Environment with Name @{outputs('Create_Environment')?['body/properties/displayName']}. ID: @{outputs('Create_Environment')?['body/id']}. Url:@{outputs('Create_CDS_Database')?['body/properties/linkedEnvironmentMetadata/instanceUrl']}","tenantid":"@outputs('Create_Environment')?['body/properties/createdBy/tenantId']"},"schema":{"type":"object","properties":{"name":{"title":"name","x-ms-dynamically-added":true,"type":"string"},"id":{"title":"id","x-ms-dynamically-added":true,"type":"string"},"url":{"title":"url","x-ms-dynamically-added":true,"type":"string"},"displayname":{"title":"displayName","x-ms-dynamically-added":true,"type":"string"},"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"},"tenantid":{"title":"tenantId","x-ms-dynamically-added":true,"type":"string"}}}}},"Response":{"runAfter":{"Fetch_Localized_Response":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":409,"body":"@outputs('Fetch_Localized_Response_Message')?['Body']?['localizedtext']"}},"Extract_Error":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Scope')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each:_Extract_errors":{"foreach":"@body('Filter_array')","actions":{"Compose_Variables":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each:_Extract_errors')?['name'],'##code==',items('Apply_to_each:_Extract_errors')?['code'],'##errorName==',if(equals(null,items('Apply_to_each:_Extract_errors')?['outputs']?['body']),items('Apply_to_each:_Extract_errors')?['error'],items('Apply_to_each:_Extract_errors')?['outputs']?['body']))"},"Fetch_Localized_Error_Message":{"runAfter":{"Compose_Variables":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose_Variables')"}}},"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error_Message":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@outputs('Fetch_Localized_Error_Message')?['Body']?['localizedtext']"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Scope":["Failed","TimedOut"]},"type":"Scope"},"Initialize_ErrorDetails":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Initialize_loopCondition":{"runAfter":{"Initialize_type":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"loopCondition","type":"string","value":"\"false\""}]}},"Fetch_Localized_Response":{"actions":{"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@concat('envName==',triggerBody()['text'],'##errorDetails==',variables('ErrorDetails'))"},"Fetch_Localized_Response_Message":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"createEnvironmentFlow1","text_2":"@outputs('Compose_2')"}}}},"runAfter":{"Extract_Error":["Succeeded"]},"type":"Scope"},"Initialize_adminConnectorVersion":{"runAfter":{"Initialize_loopCondition":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminConnectorVersion","type":"string","value":"2020-10-01"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}