Workflows/DeleteProjectCleanUp-6F3FF001-D7EC-EA11-A817-000D3A1ABE26.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"source":"Embedded","api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Project_is_Deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cat_project","subscriptionRequest/scope":2},"authentication":"@parameters('$authentication')"}}},"actions":{"Delete_Environment":{"actions":{"GetDevEnvironmentRecord":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_devenvironments","recordId":"@triggerOutputs()?['body/_cat_environment_value']"},"authentication":"@parameters('$authentication')"}},"DeleteEnvironment":{"runAfter":{"GetDevEnvironmentRecord":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"54afa95f-d7ec-ea11-a817-000d3a1abe26"},"body":{"text":"@outputs('GetDevEnvironmentRecord')?['body/cat_name']"}}}},"runAfter":{"Condition":["Succeeded"]},"type":"Scope"},"Delete_Build_Requests":{"actions":{"ListBuildRequestsForProject":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","$filter":"_cat_project_value eq '@{triggerOutputs()?['body/cat_projectid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('ListBuildRequestsForProject')?['body/value']","actions":{"Delete_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@items('Apply_to_each')?['cat_buildrequestid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"ListBuildRequestsForProject":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Delete_Environment":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Scope"},"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/cat_markfordelete']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}