Workflows/DeleteEnvironment-54AFA95F-D7EC-EA11-A817-000D3A1ABE26.json
{"properties":{"connectionReferences":{"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_AdminConnection"},"api":{"name":"shared_powerplatformforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"envName","type":"string","x-ms-dynamically-added":true,"description":"envName","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Delete_Environment":{"runAfter":{"Initialize_adminConnectorVersion":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"Remove-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@triggerBody()['text']","api-version":"@variables('adminConnectorVersion')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Respond_Success":{"runAfter":{"Delete_Environment":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"issuccess":"@{true}"},"schema":{"type":"object","properties":{"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"}}}}},"Respond_Failure":{"runAfter":{"Delete_Environment":["Failed"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"issuccess":"false"},"schema":{"type":"object","properties":{"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"}}}}},"Initialize_adminConnectorVersion":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"adminConnectorVersion","type":"string","value":"2020-10-01"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}