Workflows/DeployToStage-692CD95A-C0E2-EA11-A813-000D3A1ABE26.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_github":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_GitHub"},"api":{"name":"shared_github"}},"shared_conversionservice":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_ContentConversionConnection"},"api":{"name":"shared_conversionservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Build_Request_is_Created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cat_buildrequest","subscriptionRequest/scope":2},"authentication":"@parameters('$authentication')"}}},"actions":{"Try":{"actions":{"Get_Project_Owner_Details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerOutputs()?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Read_Notification_Webhook_Url":{"runAfter":{"Check_If_Deploying_to_Test_and_set_branch_name":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_WebhookUrl"},"retryPolicy":{"type":"none"}}},"Update_Build_Status_to_Started":{"runAfter":{"Read_Notification_Webhook_Url":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerOutputs()?['body/cat_buildrequestid']","item/cat_buildstatus":809060001},"authentication":"@parameters('$authentication')"}},"DeploymentStageRecord":{"runAfter":{"Update_Build_Status_to_Started":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_deploymentstages","recordId":"@triggerOutputs()?['body/_cat_stage_value']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["outputs"]}}},"Update_Project_Stage":{"runAfter":{"DeploymentStageRecord":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Update_Build_Status_to_Started')?['body/_cat_project_value']","item/cat_branchname":"@variables('branchName')","item/cat_Stage@odata.bind":"@body('DeploymentStageRecord')?['@odata.editLink']","item/cat_deploymentstatus":809060010},"authentication":"@parameters('$authentication')"}},"Set_Repo_Name":{"runAfter":{"Get_Repo_by_ID":["Succeeded"]},"type":"SetVariable","inputs":{"name":"repoName","value":"@outputs('Get_Repo_by_ID')?['body/name']"}},"Check_If_Deploying_to_Test":{"actions":{"Create_Build_Environment":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"46735d3d-d2e1-ea11-a813-000d3a1abe26"},"body":{"text":"BuildEnvFor@{outputs('Update_Project_Stage')?['body/cat_name']}","text_1":"@triggerOutputs()?['body/_ownerid_value']","text_3":"@outputs('DeploymentStageRecord')?['body/cat_username']","text_2":"Yes"}}},"Build_Environment_Id":{"runAfter":{"Get_a_dev_environment_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerOutputs()?['body/cat_buildrequestid']","item/cat_buildenvironment":"@outputs('Create_Build_Environment')?['Body']?['name']"},"authentication":"@parameters('$authentication')"}},"Create_a_repository_dispatch_event":{"runAfter":{"Event_Payload":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"CreateRepositoryDispatchEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@outputs('Update_Project_Stage')?['body/cat_orgname']","repositoryName":"@variables('repoName')","body/event_type":"deploy_to_test","body/client_payload":"@outputs('Event_Payload')"},"authentication":"@parameters('$authentication')"}},"Event_Payload":{"runAfter":{"Build_Environment_Id":["Succeeded"]},"type":"Compose","inputs":{"branch":"@{outputs('Update_Project_Stage')?['body/cat_branchname']}","solutionname":"@{outputs('Update_Project_Stage')?['body/cat_solutionuniquename']}","sourceenvironmentuserid":"@{outputs('DeploymentStageRecord')?['body/cat_username']}","sourceenvironmentsecretname":"@variables('DevEnvironmentSecretName')","sourceenvironmenturl":"@{outputs('Get_a_dev_environment_record')?['body/cat_url']}","targetenvironmentuserid":"@{outputs('DeploymentStageRecord')?['body/cat_username']}","targetenvironmentsecretname":"@variables('TargetEnvironmentSecretName')","targetenvironmenturl":"@{triggerOutputs()?['body/cat_targetenvironmenturl']}","webhookurl":"@{outputs('Read_Notification_Webhook_Url')?['Body']?['envvalue']}","request":"{'requestid':'@{outputs('Build_Environment_Id')?['body/cat_buildrequestid']}', 'projectId': '@{outputs('Update_Project_Stage')?['body/cat_projectid']}', 'notes': '@{variables('Notes')}', 'buildenvironmentuserid':'@{outputs('DeploymentStageRecord')?['body/cat_username']}', 'buildenvironmentsecretname':'@{variables('DevEnvironmentSecretName')}', 'buildenvironmenturl':'@{outputs('Create_Build_Environment')?['Body']?['url']}'}"}},"Get_a_dev_environment_record":{"runAfter":{"Create_Build_Environment":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_devenvironments","recordId":"@outputs('Update_Project_Stage')?['body/_cat_environment_value']"},"authentication":"@parameters('$authentication')"}},"Update_Build_Request_2":{"runAfter":{"Create_a_repository_dispatch_event":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@outputs('Update_Build_Status_to_Started')?['body/cat_buildrequestid']","item/cat_buildstatus":809060005},"authentication":"@parameters('$authentication')"}},"Update_Project_Status_2":{"runAfter":{"Update_Build_Request_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/_cat_project_value']","item/cat_deploymentstatus":809060012},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Create_Build_Environment":["Failed","TimedOut"]},"type":"SetVariable","inputs":{"name":"CreateEnvironmentErrorDetails","value":"@{string(outputs('Create_Build_Environment')?['Body'])}"}}},"runAfter":{"Set_Repo_Name":["Succeeded"]},"else":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@{outputs('Update_Project_Stage')?['body/cat_orgname']}| @{variables('repoName')} | @{outputs('Update_Project_Stage')?['body/cat_branchname']}| | @{outputs('Update_Project_Stage')?['body/cat_name']}| @{outputs('Get_Project_Owner_Details')?['body/firstname']} | @{outputs('DeploymentStageRecord')?['body/cat_name']} | @{outputs('Update_Build_Status_to_Started')?['body/cat_targetenvironment']} | @{outputs('Update_Project_Stage')?['body/cat_solutionuniquename']} | @{outputs('Read_Notification_Webhook_Url')?['Body']?['envvalue']} | @{outputs('Get_Project_Owner_Details')?['body/domainname']} |  | @{triggerOutputs()?['body/cat_buildrequestid']} |  ;@{outputs('Read_Admin_Email')?['Body']?['envvalue']} | @{variables('CorrelationID')}"},"Run_a_Child_Flow":{"runAfter":{"Compose":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"076afc29-3ce8-ea11-a817-000d3a1abe26"},"body":{"text":"@outputs('Update_Project_Stage')?['body/cat_orgname']","text_1":"@variables('repoName')","text_2":"@outputs('Update_Project_Stage')?['body/cat_branchname']","text_3":"main","text_4":"@variables('Notes')","text_5":"@{outputs('Read_Admin_Email')?['Body']?['envvalue']};@{outputs('Target_Stage')?['body/cat_stageowner']}","text_6":"@outputs('Update_Project_Stage')?['body/cat_name']","text_7":"@{outputs('Get_Project_Owner_Details')?['body/firstname']} ","text_8":"@outputs('DeploymentStageRecord')?['body/cat_name']","text_10":"@outputs('Update_Project_Stage')?['body/cat_solutionuniquename']","text_11":"@outputs('Read_Notification_Webhook_Url')?['Body']?['envvalue']","text_12":"@outputs('Get_Project_Owner_Details')?['body/domainname']","text_13":"@outputs('Get_Repo_by_ID')?['body/html_url']","text_14":"@triggerOutputs()?['body/cat_buildrequestid']","text_16":"@{outputs('DeploymentStageRecord')?['body/cat_stageowner']};@{outputs('Read_Admin_Email')?['Body']?['envvalue']}","text_17":"@triggerOutputs()?['body/cat_targetenvironmenturl']","text_18":"@outputs('DeploymentStageRecord')?['body/cat_username']","text_19":"@outputs('Target_Stage')?['body/cat_name']","text_9":"@outputs('Update_Build_Status_to_Started')?['body/cat_targetenvironment']","text_15":"@variables('CorrelationID')"}}}}},"expression":{"not":{"contains":["@toLower(outputs('DeploymentStageRecord')?['body/cat_name'])","prod"]}},"type":"If"},"Read_Admin_Email":{"runAfter":{"Check_If_Notes_are_null":["Succeeded","Failed"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"admin_AdminMail"}}},"Get_Repo_by_ID":{"runAfter":{"Read_Admin_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"GetRepositoryById","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryId":"@outputs('Update_Project_Stage')?['body/cat_repoid']"},"authentication":"@parameters('$authentication')"}},"Html_to_text":{"runAfter":{"Update_Project_Stage":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_conversionservice","operationId":"HtmlToText","apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice"},"parameters":{"Content":"<p>@{triggerOutputs()?['body/cat_comment']}</p>"},"authentication":"@parameters('$authentication')"}},"Get_Project":{"runAfter":{"Get_Project_Owner_Details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/_cat_project_value']"},"authentication":"@parameters('$authentication')"}},"Target_Stage":{"runAfter":{"Current_Stage":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_deploymentstages","recordId":"@triggerOutputs()?['body/_cat_stage_value']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["outputs"]}}},"Check_If_Deploying_to_Test_and_set_branch_name":{"actions":{"Set_Branch_Name_for_Test_Deployment":{"runAfter":{},"type":"SetVariable","inputs":{"name":"branchName","value":"@{if( or(equals(outputs('Get_Project')?['body/cat_branchname'], ''), contains(toLower(outputs('Current_Stage')?['body/cat_name']), 'prod')) ,concat(concat(outputs('Get_Project_Owner_Details')?['body/firstname'], '_'), guid()), outputs('Get_Project')?['body/cat_branchname'])}"}}},"runAfter":{"Set_Target_Stage_Secret_Name":["Succeeded"]},"else":{"actions":{"Set_Branch_Name_variable_for_Prod_Deployment":{"runAfter":{},"type":"SetVariable","inputs":{"name":"branchName","value":"@outputs('Get_Project')?['body/cat_branchname']"}}}},"expression":{"contains":["@toLower(outputs('Target_Stage')?['body/cat_name'])","test"]},"type":"If"},"Current_Stage":{"runAfter":{"Get_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_deploymentstages","recordId":"@outputs('Get_Project')?['body/_cat_stage_value']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["outputs"]}}},"Set_Target_Stage_Secret_Name":{"runAfter":{"Target_Stage":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TargetEnvironmentSecretName","value":"@{outputs('Target_Stage')?['body/cat_name']}_ENVIRONMENT_SECRET"}},"Check_If_Notes_are_null":{"actions":{"Set_Default_Notes":{"runAfter":{},"type":"SetVariable","inputs":{"name":"notes","value":"@{concat('deploy to ',toLower(outputs('DeploymentStageRecord')?['body/cat_name']))}"}}},"runAfter":{"Html_to_text":["Succeeded","Failed"]},"else":{"actions":{"Set_variable_Notes":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Notes","value":"@{trim(outputs('Html_to_text')?['body'])}"}}}},"expression":{"or":[{"equals":["@outputs('Html_to_text')?['body']","@null"]},{"equals":["@trim(outputs('Html_to_text')?['body'])","@null"]}]},"type":"If"}},"runAfter":{"Initialize_Dev_Environment_Secret_Name":["Succeeded"]},"type":"Scope"},"Initialize_variable":{"runAfter":{"Initialize_CorrelationID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"repoName","type":"string"}]}},"Initialize_CorrelationID":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CorrelationID","type":"string","value":"@{if(equals(workflow()?['run']?['name'], null), guid(), workflow()?['run']?['name'])}"}]}},"Finally":{"actions":{"Filter_array_2":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each_2":{"foreach":"@body('Filter_array_2')","actions":{"Append_to_string_variable_2":{"runAfter":{"Fetch_Localized_Error_3":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@outputs('Fetch_Localized_Error_Message')?['Body']?['localizedtext']"}},"Fetch_Localized_Error_3":{"actions":{"Compose_6":{"runAfter":{},"type":"Compose","inputs":"@concat('name==', items('Apply_to_each_2')?['name'], '##code==', items('Apply_to_each_2')?['code'], '##errorName==', items('Apply_to_each_2')?['outputs']?['body'])"},"Fetch_Localized_Error_Message":{"runAfter":{"Compose_6":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose_6')"}}}},"runAfter":{},"type":"Scope"}},"runAfter":{"Filter_array_2":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Catch":["Skipped","Succeeded","Failed","TimedOut"]},"type":"Scope"},"Initialize_error_details":{"runAfter":{"Branch_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Catch":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Log_Telemetry":{"runAfter":{"Condition":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"05dc414d-78eb-ea11-a817-000d3a56b702"},"body":{"text_1":"Error","text":"@variables('CorrelationID')","text_4":"@string(if(equals(null, items('Apply_to_each')?['outputs']?['body']), items('Apply_to_each')?['error'], items('Apply_to_each')?['outputs']?['body']))","text_2":"@outputs('Update_Build_Status_to_Started')?['body/_cat_project_value']","text_3":"Deployment to @{outputs('DeploymentStageRecord')?['body/cat_name']}","text_6":"@workflow()?['tags']?['flowDisplayName']","text_8":"@items('Apply_to_each')?['name']","text_12":"@workflow()?['run']?['name']","text_13":"@triggerOutputs()?['body/cat_buildrequestid']"}}},"Condition":{"actions":{"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@{outputs('Run_a_Child_Flow_2')?['Body']?['localizedtext']}\n"}},"Fetch_Localized_Error":{"actions":{"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each')?['name'],'##code==',items('Apply_to_each')?['code'],'##errorName==',if(equals(null,items('Apply_to_each')?['outputs']?['body']),items('Apply_to_each')?['error'],items('Apply_to_each')?['outputs']?['body']))"},"Run_a_Child_Flow_2":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose_2')"}}}},"runAfter":{},"type":"Scope"}},"runAfter":{},"else":{"actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ErrorDetails","value":"@variables('CreateEnvironmentErrorDetails')"}}}},"expression":{"equals":["@length(variables('CreateEnvironmentErrorDetails'))",0]},"type":"If"}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Update_Build_Request":{"runAfter":{"Apply_to_each":["Succeeded","Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@outputs('Update_Build_Status_to_Started')?['body/cat_buildrequestid']","item/cat_buildstatus":809060003,"item/cat_error":"@substring(variables('ErrorDetails'),0,min(length(variables('ErrorDetails')),3999))"},"authentication":"@parameters('$authentication')"}},"Update_Project_Status":{"runAfter":{"Update_Build_Request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@triggerOutputs()?['body/_cat_project_value']","item/cat_deploymentstatus":809060008,"item/cat_errormessage":"@substring(variables('ErrorDetails'),0,min(length(variables('ErrorDetails')),3999))"},"authentication":"@parameters('$authentication')"}},"Send_Build_Error_Notification:_User":{"runAfter":{"Fetch_Localized_Build_Error_Notification":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@outputs('Get_Project_Owner_Details')?['body/domainname']","text_1":"@outputs('Fetch_Localized_Subject')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_User_Notification_Body')?['Body']?['localizedtext']"}}},"Send_Build_Error_Notification:_Admin":{"runAfter":{"Send_Build_Error_Notification:_User":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@outputs('DeploymentStageRecord')?['body/cat_stageowner']","text_1":"@outputs('Fetch_Localized_Subject')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Admin_Notification_Body')?['Body']?['localizedtext']"}}},"Fetch_Localized_Build_Error_Notification":{"actions":{"Fetch_Localized_Subject":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToStageFlow1"}}},"Compose_3":{"runAfter":{"Fetch_Localized_Subject":["Succeeded"]},"type":"Compose","inputs":"@concat('firstName==',outputs('Get_Project_Owner_Details')?['body/firstname'],'##projectName==',outputs('Update_Project_Status')?['body/cat_name'],'##deploymentStageName==',outputs('DeploymentStageRecord')?['body/cat_name'])"},"Fetch_Localized_User_Notification_Body":{"runAfter":{"Compose_3":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToStageFlow2","text_2":"@outputs('Compose_3')"}}},"Compose_4":{"runAfter":{"Fetch_Localized_User_Notification_Body":["Succeeded"]},"type":"Compose","inputs":"@concat('projectName==',outputs('Update_Project_Status')?['body/cat_name'],'##deploymentStageName==',outputs('DeploymentStageRecord')?['body/cat_name'],'##flowName==',workflow()['tags']?['flowDisplayName'],'##flowRunId==',string(workflow()['run']?['name']),'##errorDetails==',variables('ErrorDetails'))"},"Fetch_Localized_Admin_Notification_Body":{"runAfter":{"Compose_4":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToStageFlow3","text_2":"@outputs('Compose_4')"}}}},"runAfter":{"Update_Project_Status":["Succeeded"]},"type":"Scope"}},"runAfter":{"Try":["Failed","TimedOut","Skipped"]},"type":"Scope"},"Branch_Name":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"branchName","type":"string"}]}},"Initialize_IsDevMode":{"runAfter":{"Initialize_Create_Env_Error_Details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsDevMode","type":"string","value":"true"}]}},"Target_Stage_Secret_Name":{"runAfter":{"Initialize_Notes_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TargetEnvironmentSecretName","type":"string"}]}},"Initialize_Dev_Environment_Secret_Name":{"runAfter":{"Target_Stage_Secret_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DevEnvironmentSecretName","type":"string","value":"DEV_ENVIRONMENT_SECRET"}]}},"Initialize_Create_Env_Error_Details":{"runAfter":{"Initialize_error_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CreateEnvironmentErrorDetails","type":"string"}]}},"Initialize_Notes_Variable":{"runAfter":{"Initialize_IsDevMode":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Notes","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}