Workflows/DeployToProd-076AFC29-3CE8-EA11-A817-000D3A1ABE26.json
{"properties":{"connectionReferences":{"shared_approvals":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_ApprovalConnection"},"api":{"name":"shared_approvals"}},"shared_github":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_GitHub"},"api":{"name":"shared_github"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"OrgName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"RepoName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"UserBranchName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"TargetBranch","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"ReleaseNotes","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"AdminEmail","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"ProjectName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"ProjectOwnerName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_8":{"title":"StageName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_9":{"title":"EnvironmentName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_10":{"title":"SolutionName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_11":{"title":"TriggerWorflowUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_12":{"title":"ProjectOwnerEmail","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_13":{"title":"RepoUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_14":{"title":"BuildRequestID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_15":{"title":"CorrelationID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_16":{"title":"ApproverEmailIDs","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_17":{"title":"TargetEnvironmentUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_18":{"title":"TargetEnvironmentUserId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_19":{"title":"TargetStageName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7","text_8","text_10","text_11","text_12","text_13","text_14","text_16","text_17","text_18","text_19"]},"headersSchema":{"x-ms-user-name-encoded":{"title":"User name","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Initialize_variable":{"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Error","type":"string"}]}},"Initialize_variable_:_Approval_Response":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ApprovalResponse","type":"string"}]}},"Try":{"actions":{"Raise_Approval_for_Deployment":{"runAfter":{"Fetch_Localized_Approval_for_Deployment":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"@outputs('Fetch_Localized_Approval_for_Deployment_Title')?['Body']?['localizedtext']","WebhookApprovalCreationInput/assignedTo":"@triggerBody()['text_16']","WebhookApprovalCreationInput/details":"@outputs('Fetch_Localized_Approval_for_Deployment_Details')?['Body']?['localizedtext']","WebhookApprovalCreationInput/requestor":"@triggerBody()['text_12']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition:_PR_approval":{"actions":{"Notify_for_Merge_Error_and_ask_approval":{"runAfter":{"Fetch_Localized_Approval_for_Deployment_2":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"@outputs('Fetch_Localized_Approval_for_Deployment_Title_2')?['Body']?['localizedtext']","WebhookApprovalCreationInput/assignedTo":"@triggerBody()['text_5']","WebhookApprovalCreationInput/details":"@outputs('Fetch_Localized_Approval_for_Deployment_Details_2')?['Body']?['localizedtext']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition:_Merge_error_approval":{"actions":{"Create_a_repository_dispatch_event":{"runAfter":{"JSON_Payload_-_Deploy_to_Prod":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"CreateRepositoryDispatchEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","body/event_type":"deploy_to_prod","body/client_payload":"@outputs('JSON_Payload_-_Deploy_to_Prod')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"JSON_Payload_-_Deploy_to_Prod":{"runAfter":{},"type":"Compose","inputs":{"branch":"@triggerBody()['text_3']","requestid":"@triggerBody()['text_14']","solutionname":"@triggerBody()['text_10']","webhookurl":"@triggerBody()['text_11']","notes":"@outputs('Commit_Message_')","targetenvironmentuserid":"@triggerBody()['text_18']","targetenvironmentsecretname":"@outputs('Env_Sec_Name')","targetenvironmenturl":"@triggerBody()['text_17']"}},"Scope_3":{"actions":{"Update_Build_Request_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerBody()['text_14']","item/cat_buildstatus":809060005},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Project_Status_7":{"runAfter":{"Update_Build_Request_7":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Update_Build_Request_7')?['body/_cat_project_value']","item/cat_deploymentstatus":809060012},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Create_a_repository_dispatch_event":["Succeeded"]},"type":"Scope"}},"runAfter":{"Notify_for_Merge_Error_and_ask_approval":["Succeeded"]},"else":{"actions":{"Apply_to_each:_Send_Email_Notification":{"foreach":"@outputs('Notify_for_Merge_Error_and_ask_approval')?['body/responses']","actions":{"Append_to_string_variable_2":{"runAfter":{"Send_Rejection_Notification_2":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ApprovalResponse","value":"@items('Apply_to_each:_Send_Email_Notification')?['comments']"}},"Fetch_Localized_Rejection_Notification":{"actions":{"Fetch_Localized_Subject":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow5"}}},"Compose_5":{"runAfter":{"Fetch_Localized_Subject":["Succeeded"]},"type":"Compose","inputs":"@concat('projectOwnerName==',triggerBody()['text_7'],'##projectName==',triggerBody()['text_6'],'##stageName==',triggerBody()['text_8'],'##rejectedBy==',items('Apply_to_each:_Send_Email_Notification')?['responder/displayName'],'##rejectedReason==',items('Apply_to_each:_Send_Email_Notification')?['comments'])"},"Fetch_Localized_Body":{"runAfter":{"Compose_5":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow6","text_2":"@outputs('Compose_5')"}}}},"runAfter":{},"type":"Scope"},"Send_Rejection_Notification_2":{"runAfter":{"Fetch_Localized_Rejection_Notification":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@triggerBody()['text_12']","text_1":"@outputs('Fetch_Localized_Subject')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body')?['Body']?['localizedtext']"}}}},"runAfter":{},"type":"Foreach"},"Update_Build_Request":{"runAfter":{"Close_Pull_Request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerBody()['text_14']","item/cat_buildstatus":809060004,"item/cat_error":"@substring(variables('ApprovalResponse'),0,min(length(variables('ApprovalResponse')),3999))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Project_Status":{"runAfter":{"Update_Build_Request":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Update_Build_Request')?['body/_cat_project_value']","item/cat_deploymentstatus":809060009,"item/cat_errormessage":"@substring(variables('ApprovalResponse'),0,min(length(variables('ApprovalResponse')),3999))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable_2":{"runAfter":{"Update_Project_Status":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DoRaiseReturnError","value":false}},"Close_Pull_Request":{"runAfter":{"Apply_to_each:_Send_Email_Notification":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"UpdatePullRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","pullNumber":"@outputs('Create_pull_request')?['body/number']","body/body":"Closing as the Approver has been rejected it.\nRejection Reason: @{variables('ApprovalResponse')}","body/state":"closed"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@outputs('Notify_for_Merge_Error_and_ask_approval')?['body/outcome']","Approve"]},"type":"If"},"Merge_pull_request":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"MergePullRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","pullNumber":"@outputs('Create_pull_request')?['body/number']","body/commitTitle":"Commit for project @{triggerBody()['text_6']}","body/sha":"@outputs('Create_pull_request')?['body/head/sha']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Trigger_Prod_Workflow_Without_Merge_conflicts":{"runAfter":{"JSON_Payload_-_Merge_Conflicts":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"CreateRepositoryDispatchEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","body/event_type":"deploy_to_prod","body/client_payload":"@outputs('JSON_Payload_-_Merge_Conflicts')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"JSON_Payload_-_Merge_Conflicts":{"runAfter":{"Merge_pull_request":["Succeeded"]},"type":"Compose","inputs":{"branch":"@triggerBody()['text_3']","requestid":"@triggerBody()['text_14']","solutionname":"@triggerBody()['text_10']","webhookurl":"@triggerBody()['text_11']","notes":"@outputs('Commit_Message_')","targetenvironmentuserid":"@triggerBody()['text_18']","targetenvironmentsecretname":"@outputs('Env_Sec_Name')","targetenvironmenturl":"@triggerBody()['text_17']"}},"Scope":{"actions":{"Update_Build_Request_5":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerBody()['text_14']","item/cat_buildstatus":809060005},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Project_Status_5":{"runAfter":{"Update_Build_Request_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Update_Build_Request_5')?['body/_cat_project_value']","item/cat_deploymentstatus":809060012},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Trigger_Prod_Workflow_Without_Merge_conflicts":["Succeeded"]},"type":"Scope"},"Fetch_Localized_Approval_for_Deployment_2":{"actions":{"Compose_3":{"runAfter":{},"type":"Compose","inputs":"@concat('errorDetails==',variables('Error'),'##pullRequestLink==',outputs('Create_pull_request')?['body/html_url'],'##environmentName==',triggerBody()['text_9'])"},"Fetch_Localized_Approval_for_Deployment_Details_2":{"runAfter":{"Compose_3":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow4","text_2":"@outputs('Compose_3')"}}},"Compose_4":{"runAfter":{"Fetch_Localized_Approval_for_Deployment_Details_2":["Succeeded"]},"type":"Compose","inputs":"@concat('projectName==', triggerBody()['text_6'])"},"Fetch_Localized_Approval_for_Deployment_Title_2":{"runAfter":{"Compose_4":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow3","text_2":"@outputs('Compose_4')"}}}},"runAfter":{"Merge_pull_request":["Failed"]},"type":"Scope"}},"runAfter":{"Raise_Approval_for_Deployment":["Succeeded"]},"else":{"actions":{"Apply_to_each:_Notification_for_PR_rejection":{"foreach":"@outputs('Raise_Approval_for_Deployment')?['body/responses']","actions":{"Append_to_string_variable_5":{"runAfter":{"Send_Rejection_Notification":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ApprovalResponse","value":"@items('Apply_to_each:_Notification_for_PR_rejection')?['comments']"}},"Fetch_Localized_Rejection_Notification_2":{"actions":{"Fetch_Localized_Subject_2":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow5"}}},"Compose_6":{"runAfter":{"Fetch_Localized_Subject_2":["Succeeded"]},"type":"Compose","inputs":"@concat('projectOwnerName==',triggerBody()['text_7'],'##projectName==',triggerBody()['text_6'],'##stageName==',triggerBody()['text_8'],'##rejectedBy==',items('Apply_to_each:_Notification_for_PR_rejection')?['responder/displayName'],'##rejectedReason==',items('Apply_to_each:_Notification_for_PR_rejection')?['comments'])"},"Fetch_Localized_Body_2":{"runAfter":{"Compose_6":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow6","text_2":"@outputs('Compose_6')"}}}},"runAfter":{},"type":"Scope"},"Send_Rejection_Notification":{"runAfter":{"Fetch_Localized_Rejection_Notification_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@triggerBody()['text_12']","text_1":"@outputs('Fetch_Localized_Subject_2')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_2')?['Body']?['localizedtext']"}}}},"runAfter":{},"type":"Foreach"},"Update_Build_Request_2":{"runAfter":{"Close_Pull_Request_1":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerBody()['text_14']","item/cat_buildstatus":809060004,"item/cat_error":"@substring(variables('ApprovalResponse'), 0, min(length(variables('ApprovalResponse')), 3999))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Project_Status_2":{"runAfter":{"Update_Build_Request_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Update_Build_Request_2')?['body/_cat_project_value']","item/cat_deploymentstatus":809060009,"item/cat_errormessage":"@substring(variables('ApprovalResponse'), 0, min(length(variables('ApprovalResponse')), 3999))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable_3":{"runAfter":{"Update_Project_Status_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DoRaiseReturnError","value":false}},"Close_Pull_Request_1":{"runAfter":{"Apply_to_each:_Notification_for_PR_rejection":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"UpdatePullRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","pullNumber":"@outputs('Create_pull_request')?['body/number']","body/body":"Closing as the Approver has rejected it.\nRejection Reason: @{variables('ApprovalResponse')}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"equals":["@outputs('Raise_Approval_for_Deployment')?['body/outcome']","Approve"]},"type":"If"},"Compare_two_commits":{"runAfter":{"Create_pull_request":["Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"CompareRepositoryCommits","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","base":"@triggerBody()['text_3']","head":"@triggerBody()['text_2']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition_:_If_user_branch_is_ahead_count_=_0":{"actions":{"Condition:_Deployment_approval":{"actions":{"Set_variable_4":{"runAfter":{"Trigger_Prod_Workflow_without_merge":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DoRaiseReturnError","value":false}},"Trigger_Prod_Workflow_without_merge":{"runAfter":{"JSON_Payload_-_Trigger_Prod_Workflow_without_merge":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"CreateRepositoryDispatchEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","body/event_type":"deploy_to_prod","body/client_payload":"@outputs('JSON_Payload_-_Trigger_Prod_Workflow_without_merge')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"JSON_Payload_-_Trigger_Prod_Workflow_without_merge":{"runAfter":{},"type":"Compose","inputs":{"branch":"@triggerBody()['text_3']","requestid":"@triggerBody()['text_14']","solutionname":"@triggerBody()['text_10']","webhookurl":"@triggerBody()['text_11']","notes":"@outputs('Commit_Message_')","targetenvironmentuserid":"@triggerBody()['text_18']","targetenvironmentsecretname":"@outputs('Env_Sec_Name')","targetenvironmenturl":"@triggerBody()['text_17']"}},"Scope_2":{"actions":{"Update_Build_Request_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerBody()['text_14']","item/cat_buildstatus":809060005},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Project_Status_6":{"runAfter":{"Update_Build_Request_6":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Update_Build_Request_6')?['body/_cat_project_value']","item/cat_deploymentstatus":809060012},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Set_variable_4":["Succeeded"]},"type":"Scope"}},"runAfter":{"Raise_Approval_for_Deployment_2":["Succeeded"]},"else":{"actions":{"Apply_to_each:_Notification_for_PR_rejection_2":{"foreach":"@outputs('Raise_Approval_for_Deployment_2')?['body/responses']","actions":{"Append_to_string_variable_6":{"runAfter":{"Send_Rejection_Notification_3":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ApprovalResponse","value":"@{items('Apply_to_each:_Notification_for_PR_rejection_2')?['comments']}\n"}},"Fetch_Localized_Rejection_Notification_3":{"actions":{"Fetch_Localized_Subject_3":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow5"}}},"Compose_9":{"runAfter":{"Fetch_Localized_Subject_3":["Succeeded"]},"type":"Compose","inputs":"@concat('projectOwnerName==',triggerBody()['text_7'],'##projectName==',triggerBody()['text_6'],'##stageName==',triggerBody()['text_8'],'##rejectedBy==',items('Apply_to_each:_Notification_for_PR_rejection_2')?['responder/displayName'],'##rejectedReason==',items('Apply_to_each:_Notification_for_PR_rejection_2')?['comments'])"},"Fetch_Localized_Body_3":{"runAfter":{"Compose_9":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow6","text_2":"@outputs('Compose_9')"}}}},"runAfter":{},"type":"Scope"},"Send_Rejection_Notification_3":{"runAfter":{"Fetch_Localized_Rejection_Notification_3":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@triggerBody()['text_12']","text_1":"@outputs('Fetch_Localized_Subject_3')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_3')?['Body']?['localizedtext']"}}}},"runAfter":{},"type":"Foreach"},"Update_Build_Request_4":{"runAfter":{"Apply_to_each:_Notification_for_PR_rejection_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerBody()['text_14']","item/cat_buildstatus":809060004,"item/cat_error":"@substring(variables('ApprovalResponse'), 0, min(length(variables('ApprovalResponse')), 3999))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Project_Status_4":{"runAfter":{"Update_Build_Request_4":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Update_Build_Request_4')?['body/_cat_project_value']","item/cat_deploymentstatus":809060009,"item/cat_errormessage":"@substring(variables('ApprovalResponse'), 0, min(length(variables('ApprovalResponse')), 3999))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable_5":{"runAfter":{"Update_Project_Status_4":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DoRaiseReturnError","value":false}}}},"expression":{"equals":["@outputs('Raise_Approval_for_Deployment_2')?['body/outcome']","Approve"]},"type":"If"},"Fetch_Localized_Approval_for_Deployment_3":{"actions":{"Compose_7":{"runAfter":{},"type":"Compose","inputs":"@concat('projectOwnerName==', triggerBody()['text_7'], '##projectName==', triggerBody()['text_6'], '##stageName==', triggerBody()['text_8'], '##releaseNotes==', triggerBody()['text_4'])"},"Fetch_Localized_Approval_for_Deployment_Details_3":{"runAfter":{"Compose_7":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow1","text_2":"@outputs('Compose_7')"}}},"Compose_8":{"runAfter":{"Fetch_Localized_Approval_for_Deployment_Details_3":["Succeeded"]},"type":"Compose","inputs":"@concat('projectName==', triggerBody()['text_6'])"},"Fetch_Localized_Approval_for_Deployment_Title_3":{"runAfter":{"Compose_8":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow2","text_2":"@outputs('Compose_8')"}}}},"runAfter":{},"type":"Scope"},"Raise_Approval_for_Deployment_2":{"runAfter":{"Fetch_Localized_Approval_for_Deployment_3":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval","apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"@outputs('Fetch_Localized_Approval_for_Deployment_Title_3')?['Body']?['localizedtext']","WebhookApprovalCreationInput/assignedTo":"@triggerBody()['text_16']","WebhookApprovalCreationInput/details":"@outputs('Fetch_Localized_Approval_for_Deployment_Details_3')?['Body']?['localizedtext']","WebhookApprovalCreationInput/requestor":"@triggerBody()['text_12']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Compare_two_commits":["Succeeded"]},"else":{"actions":{"Parse_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@outputs('Create_pull_request')?['body']","schema":{"type":"object","properties":{"message":{"type":"string"},"errors":{"type":"array","items":{"type":"object","properties":{"resource":{"type":"string"},"code":{"type":"string"},"message":{"type":"string"}},"required":["resource","code","message"]}},"documentation_url":{"type":"string"}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['errors']","actions":{"Append_to_string_variable":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"Error","value":"@items('Apply_to_each')?['message']"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Send_PR_creation_failure:_Admin":{"runAfter":{"Fetch_Localized_Email_for_PR_creation_failure:_Admin":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@triggerBody()['text_5']","text_1":"@outputs('Fetch_Localized_Subject_4')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_4')?['Body']?['localizedtext']"}}},"Send_PR_creation_failure:_Owner":{"runAfter":{"Fetch_Localized_Email_PR_creation_failure:_Owner":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@triggerBody()['text_12']","text_1":"@outputs('Fetch_Localized_Subject_5')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_5')?['Body']?['localizedtext']"}}},"Update_Build_Request_3":{"runAfter":{"Send_PR_creation_failure:_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@triggerBody()['text_14']","item/cat_buildstatus":809060003,"item/cat_error":"@substring(variables('Error'), 0, min(length(variables('Error')), 3999))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Project_Status_3":{"runAfter":{"Update_Build_Request_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Update_Build_Request_3')?['body/_cat_project_value']","item/cat_deploymentstatus":809060008,"item/cat_errormessage":"@substring(variables('Error'), 0, min(length(variables('Error')), 3999))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable":{"runAfter":{"Update_Project_Status_3":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DoRaiseReturnError","value":false}},"Fetch_Localized_Email_for_PR_creation_failure:_Admin":{"actions":{"Compose_10":{"runAfter":{},"type":"Compose","inputs":"@concat('projectName==',triggerBody()['text_6'])"},"Fetch_Localized_Subject_4":{"runAfter":{"Compose_10":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow9","text_2":"@outputs('Compose_10')"}}},"Compose_11":{"runAfter":{"Fetch_Localized_Subject_4":["Succeeded"]},"type":"Compose","inputs":"@concat('repoName==',triggerBody()['text_1'],'##repoUrl==',triggerBody()['text_13'],'##userBranchName==',triggerBody()['text_2'],'##errorMessage==',variables('Error'))"},"Fetch_Localized_Body_4":{"runAfter":{"Compose_11":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow10","text_2":"@outputs('Compose_11')"}}}},"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Scope"},"Fetch_Localized_Email_PR_creation_failure:_Owner":{"actions":{"Fetch_Localized_Subject_5":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow7"}}},"Compose_12":{"runAfter":{"Fetch_Localized_Subject_5":["Succeeded"]},"type":"Compose","inputs":"@concat('projectOwnerName==',triggerBody()['text_7'],'##projectName==',triggerBody()['text_6'])"},"Fetch_Localized_Body_5":{"runAfter":{"Compose_12":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow8","text_2":"@outputs('Compose_12')"}}}},"runAfter":{"Send_PR_creation_failure:_Admin":["Succeeded"]},"type":"Scope"}}},"expression":{"equals":["@outputs('Compare_two_commits')?['body/ahead_by']",0]},"type":"If"},"Create_pull_request":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"CreatePullRequest","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","body/head":"@triggerBody()['text_2']","body/base":"@triggerBody()['text_3']","body/title":"Merge from @{triggerBody()['text_2']} to @{triggerBody()['text_3']} for project @{triggerBody()['text_6']}","body/body":"Release notes: @{triggerBody()['text_4']}","body/maintainer_can_modify":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Fetch_Localized_Approval_for_Deployment":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@concat('projectOwnerName==',triggerBody()['text_7'],'##projectName==',triggerBody()['text_6'],'##stageName==',triggerBody()['text_8'],'##releaseNotes==',triggerBody()['text_4'])"},"Fetch_Localized_Approval_for_Deployment_Details":{"runAfter":{"Compose":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow1","text_2":"@outputs('Compose')"}}},"Compose_2":{"runAfter":{"Fetch_Localized_Approval_for_Deployment_Details":["Succeeded"]},"type":"Compose","inputs":"@concat('projectName==',triggerBody()['text_6'])"},"Fetch_Localized_Approval_for_Deployment_Title":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"deployToProdFlow2","text_2":"@outputs('Compose_2')"}}}},"runAfter":{"Create_pull_request":["Succeeded"]},"type":"Scope"}},"runAfter":{"Commit_Message_":["Succeeded"]},"type":"Scope"},"Catch":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each:_Extract_errors":{"foreach":"@body('Filter_array')","actions":{"Log_Telemetry":{"runAfter":{"Append_to_string_variable_4":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"05dc414d-78eb-ea11-a817-000d3a56b702"},"body":{"text_1":"Error","text":"@triggerBody()?['text_15']","text_4":"@string(if(equals(null, items('Apply_to_each:_Extract_errors')?['outputs']?['body']), items('Apply_to_each:_Extract_errors')?['error'], items('Apply_to_each:_Extract_errors')?['outputs']?['body']))","text_3":"Project Creation","text_6":"@workflow()?['tags']?['flowDisplayName']","text_8":"@items('Apply_to_each:_Extract_errors')?['name']","text_12":"@workflow()?['run']?['name']","text_13":"@triggerBody()['text_14']"}}},"Fetch_Localized_Error":{"actions":{"Compose_13":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each:_Extract_errors')?['name'],'##code==',items('Apply_to_each:_Extract_errors')?['code'],'##errorName==',if(equals(null,items('Apply_to_each:_Extract_errors')?['outputs']?['body']),items('Apply_to_each:_Extract_errors')?['error'],items('Apply_to_each:_Extract_errors')?['outputs']?['body']))"},"Fetch_Localized_Error_Message":{"runAfter":{"Compose_13":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose_13')"}}}},"runAfter":{},"type":"Scope"},"Append_to_string_variable_4":{"runAfter":{"Fetch_Localized_Error":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@body('Fetch_Localized_Error_Message')?['Body']?['localizedtext']"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Condition":{"actions":{"Response_Failure":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":409,"body":"@variables('ErrorDetails')"}}},"runAfter":{"Apply_to_each:_Extract_errors":["Succeeded"]},"else":{"actions":{"Response":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"success"}}}},"expression":{"equals":["@variables('DoRaiseReturnError')",true]},"type":"If"}},"runAfter":{"Try":["Failed","TimedOut","Skipped"]},"type":"Scope"},"Initialize_variable_2":{"runAfter":{"Initialize_variable_:_DoRaiseReturnError":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Response_Success":{"runAfter":{"Catch":["Skipped"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"Success"}},"Initialize_variable_:_DoRaiseReturnError":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"DoRaiseReturnError","type":"boolean","value":true}]}},"Env_Sec_Name":{"runAfter":{"Initialize_variable_:_Approval_Response":["Succeeded"]},"type":"Compose","inputs":"@{triggerBody()['text_19']}_ENVIRONMENT_SECRET"},"Commit_Message_":{"runAfter":{"Env_Sec_Name":["Succeeded"]},"type":"Compose","inputs":"Deployment to @{triggerBody()['text_8']} for project @{triggerBody()['text_6']}"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}