Workflows/FetchLocalizedText-4ADA345E-9007-EB11-A813-000D3AA3E751.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Key","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"VariableText","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Initialize_OrgLang":{"runAfter":{"Read_preferred_OrgLanguage":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"OrgLang","type":"string","value":"@body('Read_preferred_OrgLanguage')?['Body']?['envvalue']"}]}},"List_StringText":{"runAfter":{"Initialize_TranslatedText":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_stringtexts","$select":"cat_value","$filter":"cat_key eq '@{triggerBody()['text']}' and cat_locale eq '@{variables('OrgLang')}'","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_TranslatedText":{"runAfter":{"Initialize_OrgLang":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TranslatedText","type":"string"}]}},"Fetch_Value_from_Entity":{"foreach":"@outputs('List_StringText')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"TranslatedText","value":"@items('Fetch_Value_from_Entity')?['cat_value']"}}},"runAfter":{"List_StringText":["Succeeded"]},"type":"Foreach"},"Condition_to_Fallback_to_English":{"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_stringtexts","$select":"cat_value","$filter":"cat_key eq '@{triggerBody()['text']}' and cat_locale eq 'en_US'","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_3":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Set_variable_4":{"runAfter":{},"type":"SetVariable","inputs":{"name":"TranslatedText","value":"@items('Apply_to_each_3')?['cat_value']"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Fetch_Value_from_Entity":["Succeeded"]},"expression":{"equals":["@length(variables('TranslatedText'))",0]},"type":"If"},"Condition:_Key_Not_Found_for_English_":{"actions":{"Respond_to_a_PowerApp_or_flow_2":{"runAfter":{},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"localizedtext":"*@{triggerBody()['text']}* key not found"},"schema":{"type":"object","properties":{"localizedtext":{"title":"LocalizedText","x-ms-dynamically-added":true,"type":"string"}}}}}},"runAfter":{"Initialize_VariableArray":["Succeeded"]},"else":{"actions":{"No_Variable_Text_Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Apply_to_each":{"foreach":"@variables('VariableArray')","actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@split(items('Apply_to_each'),'==')"},"Compose_2":{"runAfter":{"Compose":["Succeeded"]},"type":"Compose","inputs":"@replace(variables('TranslatedText'),concat('#',outputs('Compose')[0]),outputs('Compose')[1])"},"Set_variable_3":{"runAfter":{"Compose_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TranslatedText","value":"@{outputs('Compose_2')}"}}},"runAfter":{"Set_variable_2":["Succeeded"]},"type":"Foreach"},"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"VariableArray","value":"@split(triggerBody()?['text_2'],'##')"}}}},"expression":{"equals":["@empty(triggerBody()?['text_2'])","@true"]},"type":"If"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"No_Variable_Text_Condition":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"localizedtext":"@variables('TranslatedText')"},"schema":{"type":"object","properties":{"localizedtext":{"title":"LocalizedText","x-ms-dynamically-added":true,"type":"string"}}}}}}},"expression":{"equals":["@length(variables('TranslatedText'))",0]},"type":"If"},"Initialize_VariableArray":{"runAfter":{"Condition_to_Fallback_to_English":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"VariableArray","type":"array"}]}},"Read_preferred_OrgLanguage":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_OrgLanguage"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}