Workflows/GetAppsAndFlows-73024DFE-53F2-EA11-A815-000D3A56B702.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerappsforappmakers":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_PowerAppsforMakersConnection"},"api":{"name":"shared_powerappsforappmakers"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"envUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"solutionId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"envName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"username","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"password","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"userId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5"]}}}},"actions":{"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Try":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"issuccess":"true","apps":"@{outputs('Apps_Output')}"},"schema":{"type":"object","properties":{"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"},"apps":{"title":"apps","x-ms-dynamically-added":true,"type":"string"}}}}},"Try":{"actions":{"Get_Client_Id":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_clientId"}}},"Get_a_record":{"runAfter":{"Compose_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@triggerBody()['text_5']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Token":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/common/oauth2/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{outputs('Get_Client_Id')?['Body']?['envvalue']}&resource=@{triggerBody()['text']}&grant_type=password&username=@{triggerBody()['text_3']}&password=@{triggerBody()['text_4']}"}},"Get_Apps":{"runAfter":{"Get_Token":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{triggerBody()['text']}api/data/v9.0/msdyn_solutioncomponentsummaries?$filter=(msdyn_solutionid eq '@{triggerBody()['text_1']}' and msdyn_componentlogicalname eq 'canvasapp')","headers":{"authorization":"Bearer @{body('Get_Token')?['access_token']}"}}},"Compose_2":{"runAfter":{"Get_Apps":["Succeeded"]},"type":"Compose","inputs":"@body('Get_Apps')?['value']"},"Edit_Permission_for_App":{"foreach":"@body('Get_Apps')['value']","actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@item()"},"Edit_App_Role_Assignment":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerappsforappmakers","operationId":"Edit-AppRoleAssignment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"},"parameters":{"app":"@item()?['msdyn_canvasappuniqueid']","api-version":"2016-11-01","$filter":"environment eq '@{triggerBody()['text_2']}'","Content-Type":"application/json","body/put":[{"properties/principal/email":"@outputs('Get_a_record')?['body/domainname']","properties/principal/id":"@outputs('Get_a_record')?['body/azureactivedirectoryobjectid']","properties/principal/type":"User","properties/NotifyShareTargetOption":"Notify","properties/roleName":"CanView"}]},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Error_Code":{"runAfter":{"Edit_App_Role_Assignment":["Failed"]},"type":"Compose","inputs":"@outputs('Edit_App_Role_Assignment')?['body']?['error']?['code']"}},"runAfter":{"Compose_2":["Succeeded"]},"type":"Foreach"},"Create_Apps_Output":{"runAfter":{"Edit_Permission_for_App":["Succeeded"]},"type":"Table","inputs":{"from":"@body('Get_Apps')['value']","format":"HTML","columns":[{"header":"Name","value":"@item()?['msdyn_displayname']"},{"header":"Link","value":"<a href=\"https://apps.powerapps.com/play/@{item()['msdyn_canvasappuniqueid']}\"> Play App </a>"}]}},"Apps_Output":{"runAfter":{"Create_Apps_Output":["Succeeded"]},"type":"Compose","inputs":"@replace(replace(replace(body('Create_Apps_Output'), '&lt;', '<'), '&quot;', '\"'), '&gt;', '>')"},"Compose_3":{"runAfter":{"Get_Client_Id":["Succeeded"]},"type":"Compose","inputs":"@outputs('Get_Client_Id')?['Body']?['envvalue']"}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Scope"},"Response":{"runAfter":{"Catch":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":500,"body":"@variables('ErrorDetails')"}},"Initialize_error_details":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Catch":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Fetch_Localized_Error":{"actions":{"Compose_4":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each')?['name'],'##code==',items('Apply_to_each')?['code'],'##errorName==',items('Apply_to_each')?['outputs']?['body'])"},"Fetch_Localized_Error_Message":{"runAfter":{"Compose_4":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose_4')"}}}},"runAfter":{},"type":"Scope"},"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@{body('Fetch_Localized_Error_Message')?['Body']?['localizedtext']}\n"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Try":["Failed"]},"type":"Scope"},"Initialize_variable":{"runAfter":{"Initialize_error_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Separator","type":"string","value":"@@"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}