Workflows/GetSolution-B4EA7F57-D0EE-EA11-A817-000D3A1ABE26.json
{"properties":{"connectionReferences":{},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"envUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"solutionName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"username","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"password","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3"]}},"runtimeConfiguration":{"secureData":{"properties":["inputs","outputs"]}}}},"actions":{"Try":{"actions":{"Get_Token":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/common/oauth2/token","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{outputs('Run_a_Child_Flow')?['Body']?['envvalue']}&resource=@{triggerBody()['text']}&grant_type=password&username=@{triggerBody()['text_2']}&password=@{triggerBody()['text_3']}"},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"Get_Solution_":{"runAfter":{"Get_Token":["Succeeded"]},"type":"Http","inputs":{"method":"GET","uri":"@{triggerBody()['text']}api/data/v9.0/solutions?$filter=uniquename eq '@{triggerBody()['text_1']}'","headers":{"authorization":"Bearer @{body('Get_Token')?['access_token']}"}},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"Parse_JSON":{"runAfter":{"Get_Solution_":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Get_Solution_')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"value":{"type":"array","items":{"type":"object","properties":{"@@odata.etag":{"type":"string"},"isapimanaged":{"type":"boolean"},"_organizationid_value":{"type":"string"},"versionnumber":{"type":"integer"},"solutionid":{"type":"string"},"uniquename":{"type":"string"},"friendlyname":{"type":"string"},"_createdby_value":{"type":"string"},"_publisherid_value":{"type":"string"},"modifiedon":{"type":"string"},"ismanaged":{"type":"boolean"},"_modifiedby_value":{"type":"string"},"isvisible":{"type":"boolean"},"version":{"type":"string"},"createdon":{"type":"string"},"installedon":{"type":"string"},"pinpointassetid":{},"solutionpackageversion":{},"_configurationpageid_value":{},"_parentsolutionid_value":{},"pinpointsolutionid":{},"_modifiedonbehalfby_value":{},"_createdonbehalfby_value":{},"pinpointpublisherid":{},"pinpointsolutiondefaultlocale":{},"description":{},"updatedon":{},"solutiontype":{}},"required":["@@odata.etag","isapimanaged","_organizationid_value","versionnumber","solutionid","uniquename","friendlyname","_createdby_value","_publisherid_value","modifiedon","ismanaged","_modifiedby_value","isvisible","version","createdon","installedon","pinpointassetid","solutionpackageversion","_configurationpageid_value","_parentsolutionid_value","pinpointsolutionid","_modifiedonbehalfby_value","_createdonbehalfby_value","pinpointpublisherid","pinpointsolutiondefaultlocale","description","updatedon","solutiontype"]}}}}}},"Apply_to_each":{"foreach":"@body('Parse_JSON')?['value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"solution","value":"@items('Apply_to_each')?['solutionid']"}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"solutionName","value":"@items('Apply_to_each')?['uniquename']"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"Scope"},"Run_a_Child_Flow":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_clientId"}}},"Initialize_variable":{"runAfter":{"Initialize_error_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"solution","type":"string"}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"solutionName","type":"string","value":"solutionName"}]}},"Initialize_error_details":{"runAfter":{"Run_a_Child_Flow":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Try":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"solutionname":"@variables('solutionName')","solutionid":"@variables('solution')"},"schema":{"type":"object","properties":{"solutionname":{"title":"solutionName","x-ms-dynamically-added":true,"type":"string"},"solutionid":{"title":"solutionId","x-ms-dynamically-added":true,"type":"string"}}}}},"Response":{"runAfter":{"Catch":["Succeeded"]},"type":"Response","kind":"Http","inputs":{"statusCode":501,"body":"@variables('ErrorDetails')"}},"Catch":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each_2":{"foreach":"@body('Filter_array')","actions":{"Fetch_Localized_Error":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each_2')?['name'],'##code==',items('Apply_to_each_2')?['code'],'##errorName==',if(equals(null, items('Apply_to_each_2')?['outputs']?['body']), items('Apply_to_each_2')?['error'], items('Apply_to_each_2')?['outputs']?['body']))"},"Fetch_Localized_Error_Message":{"runAfter":{"Compose":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose')"}}}},"runAfter":{},"type":"Scope"},"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@{body('Fetch_Localized_Error_Message')?['Body']?['localizedtext']}\n"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Try":["Failed","Skipped","TimedOut"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}