Workflows/LogTelemetry-05DC414D-78EB-EA11-A817-000D3A56B702.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"source":"Embedded","api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text_1":{"title":"TelemtryType","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT","enum":["Info","Warning","Error","Exception"]},"text":{"title":"CorrelationID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"ProjectID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"EventName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"Message","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"UserEmail","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"FlowName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"FlowUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_8":{"title":"ActionName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_9":{"title":"PowerAppScreen","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_10":{"title":"PowerAppSessionId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_11":{"title":"PowerAppName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_12":{"title":"FlowRunID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_13":{"title":"BuildRequestID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text_1","text","text_4"]}}}},"actions":{"Create_a_new_record":{"runAfter":{"Populate_BuildRequest":["Succeeded","Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_telemetries","item/cat_name":"@guid()","item/cat_type":"@triggerBody()['text_1']","item/cat_actionname":"@if(contains(triggerBody(), 'text_8'), triggerBody()['text_8'],'')","item/cat_BuildRequest@odata.bind":"@variables('BuildRequest')","item/cat_correlationid":"@if(contains(triggerBody(), 'text'), triggerBody()['text'],'')","item/cat_environmentid":"@workflow()['tags']['environmentName']","item/cat_eventname":"@if(contains(triggerBody(), 'text_3'), triggerBody()['text_3'],'')","item/cat_flowname":"@if(contains(triggerBody(), 'text_6'), triggerBody()['text_6'],'')","item/cat_flowrunid":"@if(contains(triggerBody(), 'text_12'), triggerBody()['text_12'],'')","item/cat_message":"@triggerBody()['text_4']","item/cat_paname":"@if(contains(triggerBody(), 'text_11'), triggerBody()['text_11'],'')","item/cat_pascreen":"@if(contains(triggerBody(), 'text_9'), triggerBody()['text_9'],'')","item/cat_pasessionid":"@if(contains(triggerBody(), 'text_10'), triggerBody()['text_10'],'')","item/cat_ProjectID@odata.bind":"@variables('Project')","item/cat_useremail":"@if(contains(triggerBody(), 'text_5'), triggerBody()['text_5'],'')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Project","type":"string"}]}},"Populate_Project":{"actions":{"Condition_2":{"actions":{"GetProject":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@if(contains(triggerBody(), 'text_2'), triggerBody()['text_2'],'')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable":{"runAfter":{"GetProject":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Project","value":"@{first(split(last(split(body('GetProject')?['@odata.editLink'], '')), ','))}"}}},"runAfter":{},"expression":{"greater":["@length(string(if(contains(triggerBody(), 'text_2'), triggerBody()['text_2'],'')))",0]},"type":"If"}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"type":"Scope"},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"BuildRequest","type":"string"}]}},"Populate_BuildRequest":{"actions":{"Condition":{"actions":{"GetBuildRequest":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@if(contains(triggerBody(), 'text_13'), triggerBody()['text_13'], '')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_variable_2":{"runAfter":{"GetBuildRequest":["Succeeded"]},"type":"SetVariable","inputs":{"name":"BuildRequest","value":"@{first(split(last(split(body('GetBuildRequest')?['@odata.editLink'], '')), ','))}"}}},"runAfter":{},"expression":{"greater":["@length(string(if(contains(triggerBody(), 'text_13'), triggerBody()['text_13'],'')))",0]},"type":"If"}},"runAfter":{"Populate_Project":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Scope"},"Response":{"runAfter":{"Create_a_new_record":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"success"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}