Workflows/ReadEnvironmentVariable-B2B37F18-27E8-EA11-A817-000D3A56B702.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"source":"Embedded","api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"varName","type":"string","x-ms-dynamically-added":true,"description":"varName","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"value","type":"string"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Scope_2":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"envvalue":"@variables('value')","issuccess":"@{true}","message":"Env Value for @{triggerBody()['text']} is @{variables('value')}"},"schema":{"type":"object","properties":{"envvalue":{"title":"envValue","x-ms-dynamically-added":true,"type":"string"},"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"},"message":{"title":"message","x-ms-dynamically-added":true,"type":"string"}}}}},"Response":{"runAfter":{"Scope_2":["Skipped","Failed","TimedOut"]},"type":"Response","kind":"Http","inputs":{"statusCode":409,"body":"Error Getting Value for @{triggerBody()['text']}. Please check ReadEnvironmentVaribale flow"}},"Scope_2":{"actions":{"GetDefinitions_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariabledefinitions","$filter":"schemaname eq '@{triggerBody()['text']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Value_2":{"runAfter":{"GetDefinitions_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq '@{if(equals(outputs('GetDefinitions_2')['body/value']?[0]?['environmentvariabledefinitionid'], null), guid(), outputs('GetDefinitions_2')['body/value']?[0]?['environmentvariabledefinitionid'])}'","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Apply_to_each_2":{"foreach":"@outputs('GetDefinitions_2')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"value","value":"@items('Apply_to_each_2')?['defaultvalue']"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_Value_2":["Succeeded"]},"else":{"actions":{"Apply_to_each_3":{"foreach":"@outputs('Get_Value_2')?['body/value']","actions":{"Set_Environment_Variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"value","value":"@items('Apply_to_each_3')?['value']"}}},"runAfter":{},"type":"Foreach"}}},"expression":{"equals":["@length(outputs('Get_Value_2')?['body/value'])",0]},"type":"If"}},"runAfter":{"Initialize_variable":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}