Workflows/SendEmailNotification-4528DFAF-782E-EB11-A813-000D3A33FEBE.json
{"properties":{"connectionReferences":{"shared_office365_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_sharedoffice365_4ee46"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"ToList","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Subject","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"Body","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"CCList","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"BCCList","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"CorrelationID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Initialize_variable:_Error_Details":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Try":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_2","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@triggerBody()['text']","emailMessage/Subject":"@triggerBody()['text_1']","emailMessage/Body":"<p>@{triggerBody()['text_2']}</p>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Initialize_variable:_Error_Details":["Succeeded"]},"type":"Scope"},"Finally":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each:_Extract_errors":{"foreach":"@body('Filter_array')","actions":{"Fetch_Localized_Error":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@concat('name==', items('Apply_to_each:_Extract_errors')?['name'], '##code==', items('Apply_to_each:_Extract_errors')?['code'], '##errorName==', items('Apply_to_each:_Extract_errors')?['outputs']?['body'])"},"Fetch_Localized_Error_Message":{"runAfter":{"Compose":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose')"}}}},"runAfter":{},"type":"Scope"},"Append_to_string_variable_4":{"runAfter":{"Fetch_Localized_Error":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@{body('Fetch_Localized_Error_Message')?['Body']?['localizedtext']}\n"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Condition_for_Response":{"actions":{"Response_Failure":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":428,"body":"@variables('ErrorDetails')"}}},"runAfter":{"Apply_to_each:_Extract_errors":["Succeeded"]},"else":{"actions":{"Response_Success":{"runAfter":{},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"Success"}}}},"expression":{"greater":["@length(variables('ErrorDetails'))",0]},"type":"If"}},"runAfter":{"Try":["Succeeded"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}