Workflows/SetUpDevEvnironment-2E65873A-A8ED-EA11-A817-000D3A1ABE26.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_github":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_GitHub"},"api":{"name":"shared_github"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"orgName","type":"string","x-ms-dynamically-added":true,"description":"Organization name","x-ms-content-hint":"TEXT"},"text_1":{"title":"repoName","type":"string","x-ms-dynamically-added":true,"description":"Repository name","x-ms-content-hint":"TEXT"},"text_2":{"title":"emails","type":"string","x-ms-dynamically-added":true,"description":"email ids for notification","x-ms-content-hint":"TEXT"},"text_3":{"title":"projectid","type":"string","x-ms-dynamically-added":true,"description":"project id","x-ms-content-hint":"TEXT"},"text_4":{"title":"requestId","type":"string","x-ms-dynamically-added":true,"description":"request id","x-ms-content-hint":"TEXT"},"text_5":{"title":"devEnvironmentUrl","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5"]}}}},"actions":{"Try":{"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_dependencies","$top":5},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Trigger_workflow_for_each_dependency":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Prepare_JSON_Payload":{"runAfter":{},"type":"Compose","inputs":{"requestid":"@triggerBody()['text_4']","projectid":"@triggerBody()['text_3']","solutionname":"@items('Trigger_workflow_for_each_dependency')?['cat_uniquesolutionname']","webhookurl":"@outputs('Read_WebHookUrl_Environment_variable')?['Body']?['envvalue']","targetpasswordsecretname":"@variables('DevStageSecretName')","targetusername":"@variables('DevStageOwnerName')","targetenvironmenturl":"@variables('DevStageEnvURL')","sourcepasswordsecretname":"@variables('DependentStageSecretName')","sourceusername":"@variables('DependentStageOwnerName')","sourceenvironmenturl":"@variables('DependentStageEnvURL')"}},"Trigger_event_to_deploy_dependent_solution_to_dev_env":{"runAfter":{"Prepare_JSON_Payload":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_github","operationId":"CreateRepositoryDispatchEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_github"},"parameters":{"repositoryOwner":"@triggerBody()['text']","repositoryName":"@triggerBody()['text_1']","body/event_type":"setup-dev-env","body/client_payload":"@outputs('Prepare_JSON_Payload')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Set_Dependent_User_Name":["Succeeded"]},"type":"Foreach"},"_List_Top(1)_Dev_record":{"runAfter":{"Read_Dependent_Environment_UserId_Environment_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_deploymentstages","$filter":"contains(cat_name, 'DEV')","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_Dev_Records":{"foreach":"@outputs('_List_Top(1)_Dev_record')?['body/value']","actions":{"Set_Dev_Stage_Secret_name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"DevStageSecretName","value":"@{items('Apply_to_each_Dev_Records')?['cat_name']}_ENVIRONMENT_SECRET"}},"Set_Dev_Stage_Owner_Name":{"runAfter":{"Set_Dev_Stage_Secret_name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DevStageOwnerName","value":"@items('Apply_to_each_Dev_Records')?['cat_username']"}}},"runAfter":{"_List_Top(1)_Dev_record":["Succeeded"]},"type":"Foreach"},"Read_WebHookUrl_Environment_variable":{"runAfter":{"Condition":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_WebhookUrl"}}},"Read_Dependent_Environment_URL_Environment_variable":{"runAfter":{"Read_WebHookUrl_Environment_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_DependentEnvironmentUrl"}}},"Read_Dependent_Environment_UserId_Environment_variable":{"runAfter":{"Read_Dependent_Environment_GH_Secret_Name_Environment_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_DependentEnvironmentUserId"}}},"Read_Dependent_Environment_GH_Secret_Name_Environment_variable":{"runAfter":{"Read_Dependent_Environment_URL_Environment_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_DepndentEnvironmentSecretName"}}},"Set_Dependent_Env._URL":{"runAfter":{"Apply_to_each_Dev_Records":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DependentStageEnvURL","value":"@outputs('Read_Dependent_Environment_URL_Environment_variable')?['Body']?['envvalue']"}},"Set_Dependent_Secret_Name":{"runAfter":{"Set_Dependent_Env._URL":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DependentStageSecretName","value":"@outputs('Read_Dependent_Environment_GH_Secret_Name_Environment_variable')?['Body']?['envvalue']"}},"Set_Dependent_User_Name":{"runAfter":{"Set_Dependent_Secret_Name":["Succeeded"]},"type":"SetVariable","inputs":{"name":"DependentStageOwnerName","value":"@outputs('Read_Dependent_Environment_UserId_Environment_variable')?['Body']?['envvalue']"}},"Read_GitHubOrgPlanExist_Environment_variable":{"runAfter":{"List_records":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"cat_GitHubOrgPlanExist"}}},"Condition":{"actions":{},"runAfter":{"Read_GitHubOrgPlanExist_Environment_variable":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@toLower(outputs('Read_GitHubOrgPlanExist_Environment_variable')?['Body']?['envvalue'])","yes"]},"type":"If"}},"runAfter":{"Dependent_Stage_Env_URL":["Succeeded"]},"type":"Scope"},"Initialize_variable":{"runAfter":{"Initialize_error_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"solutions","type":"array"}]}},"catch":{"actions":{"Filter_array":{"runAfter":{},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@outputs('FetchLocalizedText')?['Body']?['localizedtext']"}},"Fetch_Localized_Error":{"actions":{"FetchLocalizedText":{"runAfter":{"Compose":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose')"}}},"Compose":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each')?['name'],'##code==',items('Apply_to_each')?['code'],'##errorName==',items('Apply_to_each')?['outputs']?['body'])"}},"runAfter":{},"type":"Scope"}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Send_Email_Notifications":{"runAfter":{"Fetch_Localized_Email_Notification":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@triggerBody()['text_2']","text_1":"@outputs('Fetch_Localized_Subject')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body')?['Body']?['localizedtext']"}}},"Fetch_Localized_Email_Notification":{"actions":{"Fetch_Localized_Subject":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"setUpDevEnvironmentFlow1"}}},"Compose_Body":{"runAfter":{"Fetch_Localized_Subject":["Succeeded"]},"type":"Compose","inputs":"@concat('projectId==',triggerBody()['text_3'],'##errorDetails==',variables('ErrorDetails'))"},"Fetch_Localized_Body":{"runAfter":{"Compose_Body":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"setUpDevEnvironmentFlow2","text_2":"@outputs('Compose_Body')"}}}},"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Scope"}},"runAfter":{"Try":["Failed","Skipped","TimedOut"]},"type":"Scope"},"Initialize_error_details":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Try":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"issuccess":"true"},"schema":{"type":"object","properties":{"issuccess":{"title":"isSuccess","x-ms-dynamically-added":true,"type":"string"}}}}},"Dev_stage_secret_name":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DevStageSecretName","type":"string"}]}},"Dev_stage_owner_name":{"runAfter":{"Dev_stage_secret_name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DevStageOwnerName","type":"string"}]}},"Dev_stage_environment_URL":{"runAfter":{"Dev_stage_owner_name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DevStageEnvURL","type":"string","value":"@triggerBody()['text_5']"}]}},"Dependent_Stage_Secret_Name":{"runAfter":{"Dev_stage_environment_URL":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DependentStageSecretName","type":"string"}]}},"Dependent_Stage_Owner_Name":{"runAfter":{"Dependent_Stage_Secret_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DependentStageOwnerName","type":"string"}]}},"Dependent_Stage_Env_URL":{"runAfter":{"Dependent_Stage_Owner_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"DependentStageEnvURL","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}