Workflows/WorkflowCompleteNotification-518F39D7-F4E5-EA11-A817-000D3A56B702.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_CDSConnection"},"api":{"name":"shared_commondataserviceforapps"}},"shared_powerplatformforadmins":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"cat_AdminConnection"},"api":{"name":"shared_powerplatformforadmins"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{}}}},"actions":{"Try":{"actions":{"Parse_JSON":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@triggerBody()","schema":{"type":"object","properties":{"status":{"type":"string"},"repo":{"type":"string"},"branch":{"type":"string"},"requestid":{"type":"string"},"run":{"type":"integer"},"workflow":{"type":"string"},"projectid":{"type":"string"},"errors":{"type":"string"}}}}},"Parse_Headers":{"runAfter":{"Parse_JSON":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@triggerOutputs()['headers']","schema":{"type":"object","properties":{"Connection":{"type":"string"},"Accept":{"type":"string"},"Host":{"type":"string"},"User-Agent":{"type":"string"},"x-hub-signature":{"type":"string"},"x-github-event":{"type":"string"},"Content-Length":{"type":"string"},"Content-Type":{"type":"string"}}}}},"Condition_3":{"actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@body('Parse_JSON')?['data']?['requestid']"},"Condition_:_Check_deployment_status":{"actions":{"Mark_Build_Request_Completed":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@body('Parse_JSON')?['requestid']","item/cat_buildstatus":809060002},"authentication":"@parameters('$authentication')"}},"Update_Project_Status":{"runAfter":{"Mark_Build_Request_Completed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Mark_Build_Request_Completed')?['body/_cat_project_value']","item/cat_deploymentstatus":809060011},"authentication":"@parameters('$authentication')"}},"GetSolution":{"runAfter":{"Get_Build_Stage":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b4ea7f57-d0ee-ea11-a817-000d3a1abe26"},"body":{"text":"@outputs('Mark_Build_Request_Completed')?['body/cat_targetenvironmenturl']","text_1":"@outputs('Update_Project_Status')?['body/cat_solutionuniquename']","text_2":"@outputs('Get_Build_Stage')?['body/cat_username']","text_3":"@outputs('Get_Build_Stage')?['body/cat_password']"},"retryPolicy":{"type":"none"}},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"Send_Email_Notification_for_Build_Completed":{"runAfter":{"Fetch_Localized_Body_3":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@outputs('Get_Build_Request_Owner')?['body/domainname']","text_1":"@outputs('Fetch_Localized_Subject_2')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_3')?['Body']?['localizedtext']"}}},"Set_ProjectBuildRequestUpdated_:_true":{"runAfter":{"Update_Project_Status":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ProjectBuildRequestUpdated","value":true}},"Get_Build_Request_Owner":{"runAfter":{"Set_EnvironmentToDelete":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Mark_Build_Request_Completed')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Build_Stage":{"runAfter":{"Get_Build_Request_Owner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_deploymentstages","recordId":"@outputs('Mark_Build_Request_Completed')?['body/_cat_stage_value']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["outputs"]}}},"Set_EnvironmentToDelete":{"runAfter":{"Set_ProjectBuildRequestUpdated_:_true":["Succeeded"]},"type":"SetVariable","inputs":{"name":"EnvironmentToDelete","value":"@outputs('Mark_Build_Request_Completed')?['body/cat_buildenvironment']"}},"Send_Email_Notification_for_Build_Completed_2":{"runAfter":{"Fetch_Localized_Body_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@outputs('Get_Build_Request_Owner')?['body/domainname']","text_1":"@outputs('Fetch_Localized_Subject_2')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_2')?['Body']?['localizedtext']"}}},"Compose_Body_2":{"runAfter":{"GetAppsAndFlows":["Failed","TimedOut"]},"type":"Compose","inputs":"@concat('firstName==',outputs('Get_Build_Request_Owner')?['body/firstname'],'##projectName==',outputs('Update_Project_Status')?['body/cat_name'],'##buildStageName==',outputs('Get_Build_Stage')?['body/cat_name'],'##targetEnvironment==',outputs('Mark_Build_Request_Completed')?['body/cat_targetenvironment'],'##solutionId==',outputs('GetSolution')?['Body']?['solutionid'])"},"Fetch_Localized_Body_2":{"runAfter":{"Compose_Body_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"workflowCompleteNotificationFlow4","text_2":"@outputs('Compose_Body_2')"}}},"Compose_Subject_2":{"runAfter":{"GetSolution":["Succeeded"]},"type":"Compose","inputs":"@concat('projectName==',outputs('Update_Project_Status')?['body/cat_name'],'##buildStageName==',outputs('Get_Build_Stage')?['body/cat_name'])"},"Fetch_Localized_Subject_2":{"runAfter":{"Compose_Subject_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"workflowCompleteNotificationFlow3","text_2":"@outputs('Compose_Subject_2')"}}},"GetAppsAndFlows":{"runAfter":{"Fetch_Localized_Subject_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"73024dfe-53f2-ea11-a815-000d3a56b702"},"body":{"text":"@outputs('Mark_Build_Request_Completed')?['body/cat_targetenvironmenturl']","text_1":"@outputs('GetSolution')?['Body']?['solutionid']","text_2":"@outputs('Mark_Build_Request_Completed')?['body/cat_targetenvironment']","text_3":"@outputs('Get_Build_Stage')?['body/cat_username']","text_4":"@outputs('Get_Build_Stage')?['body/cat_password']","text_5":"@outputs('Mark_Build_Request_Completed')?['body/_ownerid_value']"},"retryPolicy":{"type":"none"}}},"Compose_Body_3":{"runAfter":{"GetAppsAndFlows":["Succeeded"]},"type":"Compose","inputs":"@concat('firstName==',outputs('Get_Build_Request_Owner')?['body/firstname'],'##projectName==',outputs('Update_Project_Status')?['body/cat_name'],'##buildStageName==',outputs('Get_Build_Stage')?['body/cat_name'],'##targetEnvironment==',outputs('Mark_Build_Request_Completed')?['body/cat_targetenvironment'],'##solutionId==',outputs('GetSolution')?['Body']?['solutionid'],'##getApps==',if(equals(outputs('GetAppsAndFlows')?['Body']?['apps'], null), '', outputs('GetAppsAndFlows')?['Body']?['apps']))"},"Fetch_Localized_Body_3":{"runAfter":{"Compose_Body_3":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"workflowCompleteNotificationFlow5","text_2":"@outputs('Compose_Body_3')"}}}},"runAfter":{"Condition:_Check_if_Status_is_Cancelled":["Succeeded"]},"else":{"actions":{"Mark_Build_Request_Failed":{"runAfter":{"ErrorFromGH":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@body('Parse_JSON')?['requestid']","item/cat_buildstatus":809060003,"item/cat_error":"@substring(outputs('ErrorFromGH'),0,min(length(outputs('ErrorFromGH')),3999))"},"authentication":"@parameters('$authentication')"}},"Update_Build_Status_in_Project_as_Failed":{"runAfter":{"Mark_Build_Request_Failed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Mark_Build_Request_Failed')?['body/_cat_project_value']","item/cat_deploymentstatus":809060008,"item/cat_errormessage":"@substring(outputs('ErrorFromGH'),0,min(length(outputs('ErrorFromGH')),3999))"},"authentication":"@parameters('$authentication')"}},"Send_Email_Notification_for_Build_Failed:_Admin_and_Stage_Owner":{"runAfter":{"Fetch_Localized_Notification_4":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@{outputs('Read_Admin_Email')?['Body']?['envvalue']};@{outputs('Get_Build_Stage_2')?['body/cat_stageowner']}","text_1":"@outputs('Fetch_Localized_Subject_4')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Localized_Body_4')?['Body']?['localizedtext']"}}},"ErrorFromGH":{"runAfter":{},"type":"Compose","inputs":"@string(body('Parse_JSON')?['errors'])"},"Set_ProjectBuildRequestUpdated_:_true_2":{"runAfter":{"Update_Build_Status_in_Project_as_Failed":["Succeeded"]},"type":"SetVariable","inputs":{"name":"ProjectBuildRequestUpdated","value":true}},"Get_Build_Request_Owner_2":{"runAfter":{"Set_EnvironmentToDelete_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Mark_Build_Request_Failed')?['body/_ownerid_value']"},"authentication":"@parameters('$authentication')"}},"Get_Build_Stage_2":{"runAfter":{"Get_Build_Request_Owner_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_deploymentstages","recordId":"@outputs('Mark_Build_Request_Failed')?['body/_cat_stage_value']"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["outputs"]}}},"Set_EnvironmentToDelete_2":{"runAfter":{"Set_ProjectBuildRequestUpdated_:_true_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"EnvironmentToDelete","value":"@outputs('Mark_Build_Request_Failed')?['body/cat_buildenvironment']"}},"Fetch_Localized_Notification_4":{"actions":{"Compose_Subject_4":{"runAfter":{},"type":"Compose","inputs":"@concat('projectName==',outputs('Update_Build_Status_in_Project_as_Failed')?['body/cat_name'],'##buildStageName==',outputs('Get_Build_Stage_2')?['body/cat_name'])"},"Fetch_Localized_Subject_4":{"runAfter":{"Compose_Subject_4":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"workflowCompleteNotificationFlow6","text_2":"@outputs('Compose_Subject_4')"}}},"Compose_Body_4":{"runAfter":{"Fetch_Localized_Subject_4":["Succeeded"]},"type":"Compose","inputs":"@concat('projectName==',outputs('Update_Build_Status_in_Project_as_Failed')?['body/cat_name'],'##repoName==',body('Parse_JSON')?['repo'],'##runId==',body('Parse_JSON')?['run'],'##errorDetails==',body('Parse_JSON')?['errors'])"},"Fetch_Localized_Body_4":{"runAfter":{"Compose_Body_4":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"workflowCompleteNotificationFlow7","text_2":"@outputs('Compose_Body_4')"}}}},"runAfter":{"Get_Build_Stage_2":["Succeeded"]},"type":"Scope"}}},"expression":{"contains":["@body('Parse_JSON')?['status']","success"]},"type":"If"},"Get_Build_Request":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@body('Parse_JSON')?['requestid']"},"authentication":"@parameters('$authentication')"}},"Condition:_Check_if_Status_is_Cancelled":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Get_Build_Request":["Succeeded"]},"expression":{"equals":["@outputs('Get_Build_Request')?['body/cat_buildstatus']",809060006]},"type":"If"}},"runAfter":{"Parse_Headers":["Succeeded"]},"else":{"actions":{"Notify_Owner_and_Admin":{"runAfter":{"Fetch_Localized_Notification":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4528dfaf-782e-eb11-a813-000d3a33febe"},"body":{"text":"@{outputs('Read_Admin_Email')?['Body']?['envvalue']};@{outputs('Get_a_Stage')?['body/cat_stageowner']};@{outputs('Get_a_record')?['body/domainname']}","text_1":"@outputs('Fetch_Subject')?['Body']?['localizedtext']","text_2":"@outputs('Fetch_Body')?['Body']?['localizedtext']"}}},"Get_a_Stage":{"runAfter":{"Get_a_Project":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_deploymentstages","recordId":"@outputs('Get_a_Project')?['body/_cat_stage_value']"},"authentication":"@parameters('$authentication')"}},"Get_a_record":{"runAfter":{"Get_a_Stage":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","recordId":"@outputs('Get_a_Stage')?['body/_cat_stageowner_value']"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_with_solutionname":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@triggerBody()","schema":{"type":"object","properties":{"status":{"type":"string"},"repo":{"type":"string"},"branch":{"type":"string"},"requestid":{"type":"string"},"run":{"type":"integer"},"workflow":{"type":"string"},"projectid":{"type":"string"},"errors":{"type":"string"},"solutionname":{"type":"string"}}}}},"Set_ProjectBuildRequestUpdated_:_true_3":{"runAfter":{},"type":"SetVariable","inputs":{"name":"ProjectBuildRequestUpdated","value":true}},"Get_a_Project":{"runAfter":{"Set_ProjectBuildRequestUpdated_:_true_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@body('Parse_JSON')?['projectid']"},"authentication":"@parameters('$authentication')"}},"Fetch_Localized_Notification":{"actions":{"Compose_Subject":{"runAfter":{},"type":"Compose","inputs":"@concat('statusName==',string(body('Parse_JSON')?['status']),'##projectName==',outputs('Get_a_Project')?['body/cat_name'])"},"Fetch_Subject":{"runAfter":{"Compose_Subject":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"workflowCompleteNotificationFlow1","text_2":"@outputs('Compose_Subject')"}}},"Compose_Body":{"runAfter":{"Fetch_Subject":["Succeeded"]},"type":"Compose","inputs":"@concat('projectName==',outputs('Get_a_Project')?['body/cat_name'],'##statusName==',body('Parse_JSON')?['status'],'##solutionName==',body('Parse_JSON_with_solutionname')?['solutionname'],'##runId==',body('Parse_JSON')?['run'],'##errorMessage==',body('Parse_JSON')?['errors'])"},"Fetch_Body":{"runAfter":{"Compose_Body":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"workflowCompleteNotificationFlow2","text_2":"@outputs('Compose_Body')"}}}},"runAfter":{"Parse_JSON_with_solutionname":["Succeeded"]},"type":"Scope"}}},"expression":{"not":{"equals":["@body('Parse_JSON')?['workflow']","Deploy solution to dev environment"]}},"type":"If"}},"runAfter":{"Read_Admin_Email":["Succeeded"]},"type":"Scope"},"Catch":{"actions":{"Filter_array":{"runAfter":{"Parse_Request":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Query","inputs":{"from":"@result('Try')","where":"@or(equals(item()?['status'], 'Failed'), equals(item()?['status'], 'TimedOut'))"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Log_Telemetry":{"runAfter":{"Append_to_string_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"05dc414d-78eb-ea11-a817-000d3a56b702"},"body":{"text_1":"Error","text":"@workflow()?['run']?['name']","text_4":"@string(if(equals(null, items('Apply_to_each')?['outputs']?['body']), items('Apply_to_each')?['error'], items('Apply_to_each')?['outputs']?['body']))","text_2":"@body('Parse_Request')?['projectid']","text_3":"Project Creation","text_6":"@workflow()?['tags']?['flowDisplayName']","text_8":"@items('Apply_to_each')?['name']","text_12":"@workflow()?['run']?['name']","text_13":"@body('Parse_Request')?['requestid']"}}},"Append_to_string_variable":{"runAfter":{"Fetch_Localized_Error":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"ErrorDetails","value":"@{outputs('Fetch_Localized_Error_Message')?['Body']?['localizedtext']}\n"}},"Fetch_Localized_Error":{"actions":{"Fetch_Localized_Error_Message":{"runAfter":{"Compose_2":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"4ada345e-9007-eb11-a813-000d3aa3e751"},"body":{"text":"errorMessageFlow","text_2":"@outputs('Compose_2')"}}},"Compose_2":{"runAfter":{},"type":"Compose","inputs":"@concat('name==',items('Apply_to_each')?['name'],'##code==',items('Apply_to_each')?['code'],'##errorName==',items('Apply_to_each')?['outputs']?['body'])"}},"runAfter":{},"type":"Scope"}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"Parse_Request":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@triggerBody()","schema":{"type":"object","properties":{"requestid":{"type":"string"},"projectid":{"type":"string"}}}}},"If_Project_Build_Request_updated":{"actions":{},"runAfter":{"Apply_to_each":["Succeeded"]},"else":{"actions":{"Condition_4":{"actions":{"Mark_Build_Request_Failed_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_buildrequests","recordId":"@body('Parse_Request')?['requestid']","item/cat_buildstatus":809060003,"item/cat_error":"@concat('RunID: ', workflow()?['run']?['name'], '\nFlow: ' ,workflow()['tags']?['flowDisplayName'], '\nError Details: ', variables('ErrorDetails'))"},"authentication":"@parameters('$authentication')"}},"Update_Build_Status_in_Project_as_Failed_2":{"runAfter":{"Mark_Build_Request_Failed_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@outputs('Mark_Build_Request_Failed_2')?['body/_cat_project_value']","item/cat_deploymentstatus":809060008,"item/cat_errormessage":"@concat('RunID: ', workflow()?['run']?['name'], '\nFlow: ' ,workflow()['tags']?['flowDisplayName'], '\nError Details: ', variables('ErrorDetails'))"},"authentication":"@parameters('$authentication')"}},"Set_EnvironmentToDelete_3":{"runAfter":{"Update_Build_Status_in_Project_as_Failed_2":["Succeeded"]},"type":"SetVariable","inputs":{"name":"EnvironmentToDelete","value":"@outputs('Mark_Build_Request_Failed_2')?['body/cat_buildenvironment']"}}},"runAfter":{},"else":{"actions":{"Condition_5":{"actions":{"Update_Project_Error":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cat_projects","recordId":"@body('Parse_Request')?['projectid']","item/cat_deploymentstatus":809060007,"item/cat_errormessage":"@concat('RunID: ', workflow()?['run']?['name'], '\nFlow: ' ,workflow()['tags']?['flowDisplayName'], '\nError Details: ', variables('ErrorDetails'))"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"greater":["@length(body('Parse_Request')?['projectid'])",0]},"type":"If"}}},"expression":{"greater":["@length(body('Parse_Request')?['requestid'])",0]},"type":"If"}}},"expression":{"equals":["@variables('ProjectBuildRequestUpdated')",true]},"type":"If"}},"runAfter":{"Try":["Failed","Skipped","TimedOut"]},"type":"Scope"},"Initialize_error_details":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"ErrorDetails","type":"string"}]}},"Read_Admin_Email":{"runAfter":{"Initialize_EnvironmentToDelete":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"b2b37f18-27e8-ea11-a817-000d3a56b702"},"body":{"text":"admin_AdminMail"}}},"Initialize_ProjectbuildRequestUpdated_variable":{"runAfter":{"Initialize_error_details":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ProjectBuildRequestUpdated","type":"boolean","value":false}]}},"Initialize_EnvironmentToDelete":{"runAfter":{"Initialize_ProjectbuildRequestUpdated_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EnvironmentToDelete","type":"string"}]}},"Finally":{"actions":{"Environment_Deletion_:_Condition":{"actions":{"Delete_Environment":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_powerplatformforadmins","operationId":"Remove-AdminEnvironment","apiId":"/providers/Microsoft.PowerApps/apis/shared_powerplatformforadmins"},"parameters":{"environment":"@variables('EnvironmentToDelete')","api-version":"2018-10-01"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"greater":["@length(variables('EnvironmentToDelete'))",0]},"type":"If"}},"runAfter":{"Catch":["Succeeded","Failed","Skipped","TimedOut"]},"type":"Scope"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}